[2016-10-29 09:00] star-buck opened #1 "[sddm]: update includes "netrunner-settings-sddm" which UNTICKS autologin and e.g. prevents odroid to come up again after reboot"
![snap 2016-10-29 at 01 41 54](https://cloud.githubusercontent.com/assets/840070/19828473/b0327b0a-9dc6-11e6-8a88-666890a7fd93.png)

![snap 2016-10-29 at 01 43 23](https://cloud.githubusercontent.com/assets/840070/19828474/b4e4e69c-9dc6-11e6-8c55-a1d7642692ec.png)

[2016-10-29 10:06] probonopd opened #2 "Clarify the relationship between Netrunner and Maui Linux"
I was under the impression that the future of Netrunner was Maui Linux, but apparently I was wrong. Hence it would be good to clarify the relationship between Netrunner and Maui Linux.

[2016-10-29 10:10] star-buck commented on #2
Simple: Ubuntu flavor is now Maui, Netrunner versions based directly on
Debian continue (core, odroid, desktop) under the Netrunner brand.

[2016-10-29 10:18] probonopd commented on #2
And which should I use? ;-)

[2016-10-29 10:20] star-buck commented on #2
Depends of course what you need... ppas , driver manager, etc. = maui, if
you can do most things manually, and want an even more stable base, then
debian...

[2016-10-29 10:21] probonopd commented on #2
Thanks

[2016-10-29 10:21] #2 closed, assigned to nobody

[2016-10-29 12:10] shadeslayer commented on #1
Some background on this :
- We package a sddm.conf to ship with a set of defaults for both Netrunner Core and Netrunner Desktop
- While installing sddm.conf gets configured with a auto login user by Calamares

When we  update the sddm.conf in the packages, and the user upgrades, they get presented with this dialog because Calamares has changed the files that were provided by the package. Since the

[2016-10-29 13:32] star-buck commented on #1
We should not do updated packages to released versions that overwrite user
configured things.

Thats why we normally would immediately switch to "netrunner-yymm" branch
so we dont even update to that old netrunner-1609 channel anymore, but only
update packages via backports.

Just because in this case we're still waiting for Desktop, and therefore have to be careful not to EVER OVERRIDE EXISTING I

[2016-10-30 21:00] shadeslayer commented on #1
I _agree_ with you, however I'm merely explaining _why_ this happened since we needed to fix a bug in Netrunner Desktop. I'm also saying that in order to mitigate this in a better way in the future we should get that bug fixed in SDDM.

Just for clarification, is this behaviour OK when the backport repos are enabled? Because if not, then we will need to remove the commented out netrunner backports

[2016-11-04 18:52] star-buck opened #3 "Thunderbird Lightning doesnt work and makes the program quit if calendar button is clicked"
![screenshot_20161104_194929](https://cloud.githubusercontent.com/assets/840070/20018467/1c2d07a2-a2c8-11e6-8c6e-75175bbca27b.png)

[2016-11-04 18:58] llelectronics commented on #3
We fixed that in Maui by removing the extension from the profile and relying on xul-ext-lightning package that gets build from the thunderbird source.

[2016-11-04 19:15] shadeslayer commented on #3
I think Netrunner Desktop didn't get the fix because we haven't snapshot'd the ds9-common repo which has the fix. I'll look into it.

[2016-11-04 20:23] shadeslayer commented on #3
Snapshotted, if you remove the plugin and install the package this will be fixed, should also be fixed in the next ISO

[2017-01-02 10:13] star-buck opened #4 "[17.01]: Firefox Plasma wants to uninstall if "testing repo" is activated"
![screenshot_20170101_143315](https://cloud.githubusercontent.com/assets/840070/21587418/728e7a08-d0dc-11e6-8197-05c0499cb7a8.png)

[2017-01-03 13:12] star-buck opened #5 "[sambamounter]: wait for network wifi connection to be established before remounting shares on fresh start"
Is that configurable via systemd? Any ideas?

[2017-01-03 13:33] davidedmundson commented on #5
We can definitely monitor the state of the network connection from any app/daemon. Should be do-able.

[2017-01-03 13:38] davidedmundson commented on #5
The current code does the following:

When a network is established we try and reconnect the shares.
However, it also has a try to connect on startup regardless without any checks.

I can change that, but before I do, can you explain why trying to connect without a network causes a problem?
It should just do nothing, then will try again when we get a network.

[2017-01-03 13:52] star-buck commented on #5
The problem is that the shares generated at first attempt do not work and leave "empty" items. Those items are shown under "Network" folder, but clicking on them does nothing, as the shares were not established properly at the time of creation.

I guess then once created while not connected, sambamounter fails to overwrite the shared connection items in the Network folder, so if I want to manually

[2017-01-03 14:15] davidedmundson commented on #5
Ok that, makes sense.

I think at that point if I do the obvious fix of not connecting on startup, we'll still have the same problem if you boot up on the wrong network, then later switch to the right one?

I'll set up a samba server and try and reproduce then see if we can make it handle failing far more gracefully.

[2017-01-07 19:44] star-buck opened #6 "[snapshot.debian.org]: sometimes down for minutes or hours in "maintainance mode""
![snap 2017-01-07 at 20 43 34](https://cloud.githubusercontent.com/assets/840070/21744632/0356f97a-d51a-11e6-8624-4b7ce77d1127.png)
![snap 2017-01-07 at 20 41 24](https://cloud.githubusercontent.com/assets/840070/21744633/0357f8ac-d51a-11e6-9852-f819247b3b43.png)

maybe we should think about hosting a snapshot ourselves on S3, just to be sure?

[2017-01-10 12:07] shadeslayer commented on #4
Should now be fixed.

[2017-01-10 12:07] #4 closed, assigned to shadeslayer

[2017-01-10 12:07] shadeslayer commented on #3
Should I close this?

[2017-01-10 13:05] star-buck commented on #3
Yes, can be closed.

[2017-01-10 13:07] #3 closed, assigned to shadeslayer

[2017-01-11 21:24] davidedmundson commented on #5
Went through the code:

The folders are (currently) created when you set up the configuration, not when it tries to connect.

The folder existing doesn't stop it reconnecting if you try again on startup.

The only time it's prevented is if you've got items in your local folder where the mount is going to go and you click "Save", then it fails trying to tell you this folder is in use and doesn't co

[2017-01-11 21:27] star-buck commented on #5
So the resulting problem still currently is:
The folders come up empty if connection is wifi
and come up connected (aka linked properly to content) if connection is cable.

So the fix should be that any connection is always properly re-established after hibernation or fresh boot.

[2017-01-12 21:03] star-buck opened #7 "[ds9-extras-packaging]: groupingplasmoid"
Please package this in Extras (make available as ususal through backports):
https://cgit.kde.org/scratch/davidedmundson/groupingplasmoid.git/

[2017-01-12 22:44] star-buck opened #8 "[ds9-extras-packaging]: plymouth-kcm"
As always in S3 backports:
https://cgit.kde.org/plymouth-kcm.git/

[2017-01-21 23:46] star-buck commented on #5
@davidedmundson : any suggestion what we should do to get this reliably fixed?

[2017-01-22 00:05] davidedmundson commented on #5
I pushed a change last week that reconnected shares whenever a network changed. Improved the behaviour for me.

I don't know of thats ended up in a package yet.

[2017-01-22 00:14] star-buck commented on #5
Where did you push it?
What package or version number is this supposed to land in?

[2017-01-22 22:50] davidedmundson commented on #5
I pushed it here:
git@git.kde.org:scratch/afiestas/samba-mounter.git

which is the address I followed from:
https://launchpad.net/~blue-shell/+archive/ubuntu/samba-mounter

Though that page hasn't rebuilt anything in months, I guess that's not outdated by Neon/DCI but does that package scratch repos?
There's no version numbers in the code, so I can't say.

I'll poke some people who might know samb

[2017-01-23 01:14] aleixpol commented on #5
That's the wrong repository.
Please use https://cgit.kde.org/samba-mounter.git/

[2017-01-26 00:10] star-buck opened #9 "wifi: issue when connecting (athos) - 17.01.2"
https://www.youtube.com/watch?v=lcYiqsG9qD8

[2017-02-14 20:43] star-buck opened #10 "dolphin: use same icon for "Hidden Files" toolbar entry as in maui"
in Netrunner, it should look like in Maui here:
![screenshot_20170214_155554](https://cloud.githubusercontent.com/assets/840070/22948372/86fde9d0-f2fe-11e6-8faf-083c197627ce.png)

[2017-02-14 21:48] #10 closed, assigned to shadeslayer, llelectronics

[2017-02-14 21:51] llelectronics commented on #10
Seems to be a left over as we have set an explicit "security-low" icon for hidden files before. Strangely it did not affect Maui.
I now removed the icon set in the config so it should use the default one seen in the above screenshot.

[2017-02-15 11:46] star-buck opened #11 "right-click or other dropdowns: shows either outlined/empty or garbled popups"
outline:
![screenshot_20170215_122841](https://cloud.githubusercontent.com/assets/840070/22973020/9712b6c4-f37c-11e6-84d5-5bf534fea38d.png)

garbled:
![screenshot_20170215_122911](https://cloud.githubusercontent.com/assets/840070/22973032/9f89c306-f37c-11e6-8ee7-1804567c0065.png)

plasma 5.9.1
frameworks5.31
qt5.7.1
intel
opengl2.0

[2017-02-20 15:39] shadeslayer commented on #8
This is done.

[2017-02-20 15:39] #8 closed, assigned to shadeslayer

[2017-02-20 15:40] shadeslayer commented on #7
Done too.

[2017-02-20 15:40] #7 closed, assigned to shadeslayer

[2017-02-20 15:57] star-buck commented on #7
This is now shipped standard in 5.9, isnt it?

[2017-02-20 16:03] llelectronics commented on #7
Yes it is part of Plasma since 5.9

[2017-03-08 10:56] star-buck commented on #11
closing this as ticket was redundant

[2017-03-08 10:56] #11 closed, assigned to davidedmundson

[2017-03-29 14:53] star-buck opened #12 "[synaptic]: shows multiple lines when filtering via origin"
![synaptic-origin-screenshot_20170329_164820](https://cloud.githubusercontent.com/assets/840070/24461022/3df97fc4-14a0-11e7-9406-6f16255c5ad7.png)

[2017-03-29 14:56] star-buck commented on #12
https://bugs.launchpad.net/ubuntu/+source/synaptic/+bug/1533554
16,17,20 seem interesting

[2017-04-01 07:53] star-buck opened #13 "missing language-packs when choosing japanese language during install?"
do we miss some lang packages during installation or is it because of asian languages require manual install in general?
https://www.youtube.com/watch?v=gN4AFwPbf8M&feature=youtu.be&t=1535

[2017-04-03 10:27] shadeslayer commented on #13
Hey
We install the language packages just fine ( if you note the terminal output it doesn't list the langpacks that the user specified on the terminal ), but yes, we do not install a custom input method like fcitx for asian languages.

[2017-10-30 08:40] star-buck opened #14 "netrunner 17.10: list of things to look into"
ISO tested:
http://s3-eu-central-1.amazonaws.com/ds9-eu/dci/images/1710/amd64/netrunner-desktop/netrunner-20171027.1531-amd64.hybrid.iso

- USB LIVE mode - Starting times:
-- after plymouth 1:30 minute long hang until mouse cursor appears
-- almost 3:00 minutes from mouse cursor appears to show any plasma (possibly font caching issue)
-- menu: first ever time invoking dash takes 3-4 seconds before

[2017-11-03 14:28] star-buck opened #15 "[sambamounter]: entries in popup dialog vanish upon click"
https://www.dropbox.com/s/gztcyt9bj3g6z9w/sambamounter.mkv?dl=0

[2017-11-03 16:11] aleixpol commented on #15
Confirmed:
I can reproduce in any directory dialog launched with `QFileDialog::getExistingDirectoryUrl(m_parent, QString(), openUrl, QFileDialog::ShowDirsOnly)`.

In fact, it can be reproduced with the following plasma-integration test:
`./qfiledialogtest --options ShowDirsOnly --selectDirectory remote:`

Need to investigate still why it happens.

[2017-11-03 16:55] aleixpol commented on #15
Here's a fix: https://phabricator.kde.org/D8643

[2017-11-03 17:43] star-buck opened #16 "package in extras: isowriter (from kaos, link inside)"
https://github.com/KaOSx/isowriter

[2017-11-04 15:46] star-buck commented on #15
@aleixpol :
patch packaged and shipped, but still seems the same issue:
http://s3-eu-central-1.amazonaws.com/ds9-eu/dci/images/1710/amd64/netrunner-desktop/netrunner-20171103.2012-amd64.hybrid.iso

[2017-11-06 16:29] aleixpol commented on #15
@shadeslayer Can you try this?
https://phabricator.kde.org/D8683

[2018-01-09 21:32] #14 closed

[2018-01-09 21:32] #9 closed, assigned to shadeslayer, llelectronics

[2018-01-09 21:35] star-buck opened #17 "DCI repos cleanup"
@shadeslayer :
since we released "netrunner-1710", can we remove the "netrunner-1709" here:
http://ds9-eu.s3-website.eu-central-1.amazonaws.com/#!/dci%2Fpackages%2Fnetrunner%2Fdists%2F

Also rename netrunner-1801 to netrunner-1803

[2018-01-09 21:35] #16 closed, assigned to shadeslayer

[2018-01-09 21:38] star-buck commented on #17
same here:
http://ds9-eu.s3-website.eu-central-1.amazonaws.com/#!/dci%2Fimages%2F

[2018-01-09 21:46] star-buck opened #18 "update versions to be compiled against Qt in Debian Testing"

[2018-01-09 21:50] star-buck commented on #1
@shadeslayer : is this actually solved?

[2018-01-10 16:12] shadeslayer commented on #17
I've removed it from the server as you can see here : http://dci.ds9.pub/netrunner/dists/

But I guess aptly doesn't remove the files from S3, just stops referencing them

[2018-01-10 16:16] shadeslayer commented on #17
1801 will be renamed to 1803 in the upcoming days since I have to update it in multiple other places.

[2018-01-11 00:53] star-buck commented on #17
?????
http://ds9-eu.s3-website.eu-central-1.amazonaws.com/#!/dci%2Fpackages%2Fnetrunner%2Fdists%2F

[2018-01-11 00:54] star-buck commented on #17
How to get rid of them on S3?

[2018-01-11 15:16] shadeslayer commented on #17
Gone now

[2018-01-13 01:09] star-buck opened #19 "about kcm: MESA 3D always shows version: 0.0, even if mesa package 17.3.2 is installed"

[2018-01-13 03:23] star-buck opened #20 "GTk3 filedialog: TICK "Sort Folders first""
This strangely is unticked default, so lets make sure we TICK it.

[2018-01-13 11:25] NuLogicSystems commented on #20
Not strange at all, that is now the GTK3 default.

To fix this I added a /usr/share/glib-2.0/schemas/99_netrunner-settings.gschema.override file with the following in it:
[code]
On Manjaro **glib-compile-schemas /usr/share/glib-2.0/schemas** is already run by the default hooks, this may need to be scripted for debian.

[2018-01-13 16:54] shadeslayer commented on #19
We get the Mesa version from the Mesa implementation ( in this case, ARM's proprietary implementation ). This would need to be fixed upstream by ARM really since we don't actually know what version of Mesa they ship.

[2018-01-13 16:54] shadeslayer commented on #19
And even though the Mesa package is installed, it's not actually used since the proprietary implementation overrides those libraries

[2018-01-13 17:05] star-buck commented on #19
I am talking about normal Rolling version on x86 amd machine.

On Jan 13, 2018 08:54, "Rohan Garg" <notifications@github.com> wrote:

[2018-01-13 18:05] NuLogicSystems commented on #19
I get the mesa version numbers on my systems.
What GPU and drivers are you seeing this with?
This is a known issue with the proprietary drivers, which they would need to fix.
![screenshot_20180113_131549](https://user-images.githubusercontent.com/10186587/34908815-23d90a80-f864-11e7-9d18-1c75b68ad6d4.png)

[2018-01-13 18:40] NuLogicSystems commented on #19
![screenshot_20180113_133851](https://user-images.githubusercontent.com/10186587/34908979-55ef694e-f867-11e7-8f27-70594c8118be.png)

Can we get the output of:
`glxinfo  | grep version
`

[2018-01-13 18:55] NuLogicSystems commented on #19
I did find some reports about the radeon drivers also having this issue.
https://bugs.freedesktop.org/show_bug.cgi?id=101475
https://bugs.freedesktop.org/show_bug.cgi?id=103506

[2018-01-13 18:57] star-buck commented on #19
Ah, that must be it then, as i dont use nvidia there.

On Jan 13, 2018 10:55, "James Kittsmiller" <notifications@github.com> wrote:

[2018-01-13 19:08] NuLogicSystems commented on #19
Yea, and the amdgpu, amdgpu-pro drivers might be different as well.

[2018-01-14 19:28] star-buck opened #21 "add qml-module-qtquick-xmllistmodel"
both Rolling and Debian versions

[2018-01-14 19:30] star-buck opened #22 "Debian: resolve the error message from apt, so it no longer shows the warning at each transaction"
![screenshot_20180114_112853](https://user-images.githubusercontent.com/840070/34919862-3ceede40-f91e-11e7-84ae-3ebf3054c118.png)

[2018-01-14 21:07] NuLogicSystems commented on #21
This is already included in the qt5-declarative package.
Arch doesn't typically split packages.
https://www.archlinux.org/packages/extra/x86_64/qt5-declarative/files/

[2018-01-15 12:54] llelectronics commented on #22
This is a warning by apt that your kernel or system does not support the seccomp policy. It is actually not an error and I am not sure why synaptic does pick up warnings. In my opinion it should not and even if it does not in that way at least.

As I don't have a system with that behavior to test here. Can you try disabling seccomp support in general to see if it solves the issue on that particula

[2018-01-15 13:03] llelectronics commented on #20
Thanks James.
I added this setting now here: https://github.com/ds9-common/default-settings-applications/commit/8c0205885b755fdd0370f3f32d684bec6ba7027d

[2018-01-21 15:37] star-buck opened #23 "FF: TICK Make Browser default"

[2018-01-21 15:40] NuLogicSystems commented on #23
Firefox 57 no longer reads, or writes from kdeglobals, it's now only using mimeapps.lst.
This probably has something to do with not having the KDE patched version.

We'll need to adjust our packaging accordingly.

[2018-01-21 15:49] llelectronics commented on #23
I can't remember us setting anything in firefox config for that. We only set it as default in kdeglobals and mimeapps.list
The debian and ubuntu builds have the dialog in firefox disabled by default that asks for setting the browser as default.

[2018-01-21 15:52] NuLogicSystems commented on #23
Where is the mimeapps.list in git?
I'm pulling mostly from the ds9 and netrunner github repositories for packaging in rolling.
All I can find is the kdeglobals, which the non-KDE patched version of Firefox does not use.

[2018-01-21 15:59] llelectronics commented on #23
You can find our mimeapps.list here though yeah under further inspection we don't specify firefox as html extension handler as kdeglobals settings takes care of it https://github.com/ds9-common/default-settings-applications/blob/master/usr/share/default-settings/plasma5-profile/mimeapps.list

[2018-01-21 16:12] NuLogicSystems commented on #23
OK, then I'll pull the settings from my test system and fix this.
Thanks..

[2018-01-21 16:21] NuLogicSystems commented on #23
Fixed:
https://github.com/ds9-common/default-settings-applications/commit/c82f94c6f231b730e3fcb370fcd6223c9d95d335

[2018-01-25 16:57] NuLogicSystems commented on #23
It turns out that Firefox actually looks for gconf settings:
https://github.com/netrunner-rolling/netrunner-settings-firefox/tree/master/etc/skel/.config/gconf/desktop

However, it sets all three (gconf, kdeglobals and mimapps.lst) when the button is pushed.

[2018-01-27 10:43] star-buck opened #24 "Netrunner Backports: how to ensure Backports is compatible with Testing?"
I wonder what exactly is causing conflicts if both repos are enabled to do an upgrade
http://forums.netrunner.com/showthread.php?tid=24397&pid=40862#pid40862

Shouldnt this work regardless which 17.xx version Netrunner is updgraded from?

[2018-01-29 09:27] llelectronics commented on #24
Thats the issue we discussed previously with backports and testing enabled breaking every now and then depending on what the state of Debian Testing is currently.
The ultimate solution is and if I remember correctly you agreed to switching to a model where we have backports build against a certain snapshot of debian testing and allow users then to upgrade with that debian testing snapshot so we ca

[2018-02-01 19:08] NuLogicSystems opened #25 "Firefox 58.0.1 failure in cck2."
Firefox 58 doesn't like our cck2, I'm now getting this error on roling everytime firefox is launched:
![screenshot_20180201_140736](https://user-images.githubusercontent.com/10186587/35697857-64d89e7a-0759-11e8-8932-d45dd75f27eb.png)

I don't know enough about cck2 to fix this myself.

[2018-02-01 19:09] star-buck opened #26 "FF: cck2 causes error when updating to 58"
https://github.com/netrunner-rolling/QA-Bugs/issues/18#issuecomment-362368073

[2018-02-01 19:10] star-buck commented on #26
Any idea how to fix this without requiring anything special from the user side?

[2018-02-01 19:12] NuLogicSystems commented on #26
I just posted this to netrunner-releases, it needs to be fixed in cck2 itself.
https://github.com/blue-systems/netrunner-releases/issues/25

[2018-02-01 19:15] NuLogicSystems commented on #26
Once they fix it in netrunner-common, I can fix in netrunner-rolling.

[2018-02-01 19:17] NuLogicSystems commented on #26
Opps, it looks like we both posted this here, I'll close mine.

[2018-02-01 19:21] NuLogicSystems commented on #25
Duplicate of: https://github.com/blue-systems/netrunner-releases/issues/26

[2018-02-01 19:21] #25 closed, assigned to shadeslayer, llelectronics

[2018-02-02 10:45] shadeslayer commented on #26
Hi
It seems like this is directly related to https://github.com/mkaply/cck2wizard/issues/75

Could you grab this https://raw.githubusercontent.com/mkaply/cck2wizard/master/cck2/modules/Preferences.jsm and place it in /usr/lib/firefox/cck2/modules/Preferences.jsm to see if it fixes your problem?

[2018-02-02 12:43] NuLogicSystems commented on #26
Nope, that did not help. I'm still getting the exact same error.

[2018-02-02 12:49] shadeslayer commented on #26
Ah damn, is it the same error? Could you perhaps follow up on the cc2kwizard ticket if it is?

[2018-02-02 13:04] NuLogicSystems commented on #26
That thread says something about running a script to clean out or delete the startupCache.
There is also another version of this file ziped up and linked to in a later post from the file you linked to.

[2018-02-02 13:10] shadeslayer commented on #26
I presumed you were starting from a empty ~/.mozilla

[2018-02-02 13:13] NuLogicSystems commented on #26
No, even the netrunner-common firefox settings package doesn't have an empty ~/.mozilla folder, but that's not the issue.

After I maually delete my ~/.cache/mozilla folder your file worked.
However, it would be better if the end user doesn't need to do this.

[2018-02-02 13:24] shadeslayer commented on #26
Yes, we don't have a empty ~/.mozilla as much as I'd like to :(

[2018-02-02 13:30] NuLogicSystems commented on #26
The .mozilla folder isn't the problem, it the startupcache folder that is (~/.cache/mozilla).

[2018-02-02 14:35] NuLogicSystems commented on #26
Would also changing the "cckVersion": "2.2.3.4" string in cck2.cfg file to  "cckVersion":  "2.2.3.5" triger a startupcahe update?

[2018-02-02 15:02] NuLogicSystems commented on #26
Update: Changing the cck2 version string seems to have fixed the startupcache issue with the updated Preferences.jsm file on my test machine.
@star-buck, could you please update to the new netrunner-settings-firefox package I just pushed to the "netrunner" repo for rolling?

[2018-02-02 16:13] shadeslayer commented on #26
@NuLogicSystems I'd recommend you ship a entirely new CCK2 instead of only changing certain parts.

[2018-02-02 16:29] NuLogicSystems commented on #26
@shadeslayer I don't have FF ESR to run the wizard on, or is it just replacing the modules dir and updateing the version like last time?

[2018-02-02 16:32] shadeslayer commented on #26
It should be as easy as just unpacking the new release over the old one, yes

[2018-02-02 16:32] NuLogicSystems commented on #26
Cool, I need to keep that in mind.

[2018-02-02 16:56] star-buck commented on #26
How to prevent any breakage in the future?
On Feb 2, 2018 16:15, "James Kittsmiller" <notifications@github.com> wrote:

[2018-02-02 17:04] NuLogicSystems commented on #26
There really wasn't many more changes other than the Preferences.jsm file, but I went ahead and updated the other two files as well.
https://github.com/netrunner-rolling/netrunner-settings-firefox/commit/6c9e6081067429f9e7c31caf09a11c1a7d285342

[2018-02-02 17:08] NuLogicSystems commented on #26
@star-buck I'd imagine we will need to monitor cck2 for issues and/or updates continually.

[2018-02-02 17:11] shadeslayer commented on #26
@star-buck that entirely depends on Firefox TBH, if they change something in their API to configure settings, then CCK2 of course breaks.

[2018-02-02 17:19] NuLogicSystems commented on #26
@shadeslayer  It looks like FF is also dropping distrobution/bundles soon, if not already.
This may be the next area of concern for me, I use distrobution filder to ship my extensions.
https://mike.kaply.com/2015/04/07/the-future-of-cck2/

Following the link there, I would need to move them to cck2's bundles folder.
However, I'm not exactly 100% sure where to put the bundles foler in cck2 and/or i

[2018-02-02 17:27] NuLogicSystems commented on #26
Removed my last post.
That thread I was concerned about was over 2 years old and not actually effecting me.

[2018-02-02 18:22] star-buck commented on #26
Lets make sure this doesnt hit us again next update... also is this fixed
by simply updating our packaging and people continue or help thrmselves via
a simple upgrade (not a special upgrade command, just a normal update
routine via octopi or discover?)
On Feb 2, 2018 19:08, "James Kittsmiller" <notifications@github.com> wrote:

[2018-02-02 18:29] NuLogicSystems commented on #26
Since we are updating all of cck2 and not just the Preferences.jsm file, a normal update should be all that is needed.

[2018-02-02 21:07] shadeslayer commented on #26
The best way to make sure we don't hit this again in the future is to write a QA test that ensures that everytime we update Firefox, we ensure that the settings are applied on a clean system.

[2018-02-02 21:35] NuLogicSystems commented on #26
What do you mean by clean system?
Manjaro pulls in Arches Firefox package minus the branding. Now that I know we need to update cck2 itself more often, I'll be looking out for that. I'll also need to test FF out more often in the Manjaro testing branch before it hits stable. My build system does run on Manjaro testing, but I don't typically use FF. I only caught it because of the pre-load on one o

[2018-02-21 17:29] shadeslayer opened #27 "[Automation] Write a tool to generate and dump patches into a git repo"
We need a tool that can generate a diff of our packaging against Debian's in order to have a overview of what we've changed in every Netrunner release.

[2018-04-29 13:48] star-buck opened #28 "Dolphin: updating packages resets dolphin toolbar to default"

[2018-04-29 14:00] star-buck opened #29 "Global Menu: autostart/stop process (Debian and Rolling)"
Maybe some of the netrunner default settings are interfering with the new automated activation?

goto systemsettings -> startup and shutdown -> background services:
check and start application menus daemon

[2018-04-29 14:45] star-buck commented on #29
I have these versions after enabling official testing repos and update:
![screenshot_20180429_164507](https://user-images.githubusercontent.com/840070/39407820-b5e6bdd0-4bcc-11e8-8b29-7333bc19833d.png)

[2018-04-29 15:12] star-buck opened #30 "Gimp: Needs theme set to "system" in latest version"
Otherwise will be too dark/different from whatever is default:
![screenshot_20180429_171143](https://user-images.githubusercontent.com/840070/39408045-7ea491f4-4bd0-11e8-9ce3-5835c51d4c0a.png)

[2018-04-30 09:43] star-buck opened #31 "Debian and Rolling: Package AppImageLauncher"
If not packages by upstream (Manjaro or Debian Testing), we need our own packages and include it in next isos default:
https://github.com/TheAssassin/AppImageLauncher

@ScarlettGatelyClark : upstream always prefered

[2018-04-30 09:45] star-buck commented on #18
@shadeslayer @llelectronics : is this done?

[2018-04-30 09:46] #17 closed, assigned to shadeslayer

[2018-04-30 09:47] llelectronics commented on #18
Yeah that is the case.

[2018-04-30 09:47] #5 closed, assigned to aleixpol, davidedmundson

[2018-04-30 10:34] llelectronics commented on #28
Clearly an upstream bug. Dolphin should not do this.

[2018-04-30 10:38] davidedmundson commented on #28
Check the version number in the rc file you're replacing.

If it's older than upstream it'll use upstreams.

[2018-04-30 10:45] NuLogicSystems commented on #28
You mean like I did here:
`sed -e "s|17|19|" \
-i "$pkgdir/usr/share/default-settings/plasma5-profile/kxmlgui5/dolphin/dolphinui.rc"`
https://github.com/netrunner-rolling/PKGBUILD-ds9-common/blob/master/default-settings-kdeapps/PKGBUILD
This still needs to be packaged and uploaded when I get into the office, but still.

Because of where our file is shipped, it can not be updated by Dolphin itself.

[2018-04-30 10:46] davidedmundson commented on #28
Can you not just set the version to "9999" in the replacement?

[2018-04-30 10:48] llelectronics commented on #28
Ah ok. Thanks for the tip.
Thats what we'll do then.

[2018-04-30 10:51] llelectronics commented on #28
Should be fixed now with this commit: https://github.com/ds9-common/default-settings-kdeapps/commit/72fa5ae2b1f34ee561c905c8473208488c50fa9d

and in future Netrunner versions.

[2018-04-30 11:33] star-buck commented on #28
@NuLogicSystems : same needs to be applied to Rolling?

[2018-04-30 11:34] star-buck commented on #28
now does an updated package retro-fix the situation and restores our default toolbar config in dolphin again?

[2018-04-30 11:36] llelectronics commented on #28
Yes that is what it should do. Basically it just ignored our config as it had an too old version. With the updated config it should read and use the config again.

[2018-04-30 14:55] llelectronics commented on #29
Needs to start the application menus daemon in systemsettings -> startup and shutdown -> background services. (disabled by default)

[2018-04-30 15:03] llelectronics commented on #29
Should be fixed with this commit: https://github.com/ds9-common/default-settings-plasma/commit/7998abaa15757288f3e18447cb258b226984d5d0

[2018-04-30 22:58] star-buck commented on #29
If it is not starting/stopping automatically, there could be something wrong with the auto-mechanism?

[2018-05-01 10:07] star-buck opened #32 "Rock64: novnc only works with IP-adress:5900, not "live-pc:5900""

[2018-05-01 10:09] star-buck opened #33 "Rock64: vnc-browser window is tiny"
![snap 2018-05-01 at 12 09 32](https://user-images.githubusercontent.com/840070/39469447-8a90c08c-4d38-11e8-9e42-9ab7b2c024b6.png)

[2018-05-01 10:11] star-buck commented on #33
but at least yakuake comes up fine ;)
![snap 2018-05-01 at 12 10 54](https://user-images.githubusercontent.com/840070/39469481-bd0f341c-4d38-11e8-8e67-a48e1ff7a25d.png)

[2018-05-01 10:27] llelectronics commented on #33
@shadeslayer we had a fix for this before. Seems like it is either not working with the kernel (we used a different one you injected manually before) or we need some workaround for this.

[2018-05-01 10:28] shadeslayer commented on #33
I think the gfx acceleration setup is screwed up. Will take a look at it when I'm back in Barcelona.

[2018-05-02 08:24] llelectronics commented on #33
Just as info as it is working fine for me. With attached hdmi cable to a monitor which is turned on it gets the correct resolution.

[2018-05-02 08:39] llelectronics commented on #32
I fear it might be an issue with your particular DNS cache of your router or browser.
It works fine for me and is accessible via live-pc.

On Chromium I removed the dns cache by accessing: chrome://net-internals/#dns and clearing it.
On Firefox you can clear the cache in settings -> security

At least I can access live-pc:5900 which gives me a directory listing where I can click on vnc_auto.html
B

[2018-05-02 10:33] llelectronics commented on #32
**Update:** Found out editing /etc/nsswitch.conf and removing the NOTFOUND and mdns4 stuff makes dns resolving via avahi 200% faster than before. Starbuck would be nice if you could test this change to see if it fixes the issue for you too before we include it in one of the next images.

[2018-05-02 17:14] llelectronics commented on #33
This commit forces the minimum resolution to 800x600 https://github.com/netrunner-zeronet/rock64-live-build-zeronet/commit/98ff789c69b54fe22b6ab5e230629fe0d9ee5d59

[2018-05-02 17:33] star-buck commented on #33
Can we spin a new img so i can test all changes?

[2018-05-03 13:30] #32 closed, assigned to llelectronics

[2018-05-03 13:30] #33 closed, assigned to shadeslayer, llelectronics

[2018-05-03 13:31] star-buck opened #34 "Rock64: move 0toggle widget from desktop to panel"
move here:
![snap 2018-05-03 at 15 29 57](https://user-images.githubusercontent.com/840070/39579417-032cd2b0-4ee7-11e8-9856-f4ab2549a7a9.png)

[2018-05-03 13:32] star-buck opened #35 "Rock64: install tortoggle, put in panel before (left of) 0toggle widget icon"

[2018-05-03 14:32] star-buck opened #36 "Rock64: port map 80 to 43110"
`sudo iptables -A PREROUTING -t nat -p tcp --dport 80 -j REDIRECT --to-ports 43110`

[2018-05-03 14:33] star-buck opened #37 "Rock64: Calamares Installer icon is missing on desktop"

[2018-05-03 14:36] star-buck opened #38 "Rock64: Calamares needs to be shipped in OEM mode and customized with the right needed modules (like resize, etc)"

[2018-05-03 15:44] star-buck opened #39 "Rock64: after power-reset reboot, can start auto_vnc on :5900 but then get connection timeout"

[2018-05-03 15:45] star-buck opened #40 "Rock64: soft-reboot doesnt work, machine doesnt shutdown properly"

[2018-05-03 16:05] star-buck commented on #39
this is what is running on the odroid c1:
![snap 2018-05-03 at 18 03 54](https://user-images.githubusercontent.com/840070/39588703-980b37d6-4efc-11e8-96fc-b928cf4fe2b0.png)

[2018-05-03 16:07] llelectronics commented on #39
Yes we have dozens of those aswell on the rock64

[2018-05-03 16:17] llelectronics commented on #38
Should be fixed with: https://github.com/netrunner-zeronet/rock64-calamares-zeronet/commit/19e0cc20d46a996a61b35990337af19a9ee42491

[2018-05-03 17:53] star-buck opened #41 "Rock64: enable Multiuser plugin"
/opt/zeronet/ZeronetMaster/plugins/:
rename folder "disabled-Multiuser" to "Multiuser"

[2018-05-03 18:58] star-buck opened #42 "Rock64: FF crashes (same reason as on pinebook), but when deleting .mozilla folder and also quickly disable ublock, it kind of becomes stable once and then every after..."

[2018-05-03 19:09] star-buck commented on #41
forget this one...

[2018-05-03 19:09] #41 closed, assigned to llelectronics

[2018-05-04 07:58] star-buck opened #43 "Rock64: enable 1920x1080 (or flexible) resolution for plugged in monitors"

[2018-05-04 07:59] star-buck commented on #43
currently the resolution is set and stuck / not changeable to 1024x786

[2018-05-04 16:28] llelectronics commented on #40
I tested now 3 kernels.
First the ayufan kernel we ship 4.4.114
then the armbian 4.4.124 and the ayufan 4.4.120

all show the same behavior and panic on reboot.

So shutdown is working but when the machine comes up the kernel panics a few seconds after.
This is the log I got: https://dpaste.de/vr8h

[2018-05-04 16:29] llelectronics commented on #39
Disabling IPv6 listening for x11vnc helps here in my tests. At least I could reliably connect after a hard reboot.
Should be fixed with this: https://github.com/netrunner-common/netrunner-settings-autostart/commit/140fa09825af76c3b8ca03129dda1b19fc2ea355

[2018-05-04 16:31] llelectronics commented on #37
This is connected to #38 as the rock64-calamares-zeronet also creates the desktop icon.

[2018-05-04 16:32] llelectronics commented on #35
Like discussed in irc this is won't work as tor toggle needs to be rewritten as it otherwise will use 100% cpu all the time.

[2018-05-04 16:33] llelectronics commented on #34
Done with: https://github.com/netrunner-artwork/artwork-lnf-netrunner-zeronet/commit/75baca13a88309893fb1cb06035c23f2f754b060

[2018-05-08 14:10] shadeslayer commented on #31
Doing packages for AppImageLauncher is going to be tricky, it does not use a conventional build system and embeds a copy of appimagekit in it's sources. We need to ask the maintainer to fix the build system before we proceed, otherwise we'll end up in the same mess as Ring KDE in the past.

[2018-05-08 14:26] NuLogicSystems commented on #31
Already packaged and in the Netrunner repository for Rolling.
Now binfmts compatible via the upstream systemd-binmfts pacman hook.
I only needed to add one pacman hook of our own to remove the appimage binmft on uninstall.

[2018-05-08 14:38] shadeslayer commented on #31
@NuLogicSystems PKGBUILD's are far more lenient when it comes to building things. Debian for eg. does not allow network access during builds. It also frowns upon embedded source copies. Which is why I think it makes sense to talk with upstream about cleaning up their build system before proceeding with this.

[2018-05-08 15:01] star-buck commented on #31
Sure we can ask, go ahead.

[2018-05-08 15:14] NuLogicSystems commented on #31
@shadeslayer,
Assasins cmake already packages this for you.
All you need to do is pull the correct continuous build's deb file:
https://github.com/TheAssassin/AppImageLauncher/releases

Arch/Manjaro was the only thing that needed external packaging.

[2018-05-08 15:17] shadeslayer commented on #31
@NuLogicSystems  Debian doesn't accept random deb's. They only accept sources that can be built on their infrastructure against their archives.

[2018-05-08 15:22] NuLogicSystems commented on #31
Assasin is using travis to build both deb and/or rpm's.
I'm pretty sure travis is building the deb packages on debian.
Why would cmake have this functionality, if debian doesn't accept the packages it produces?

[2018-05-08 15:29] shadeslayer commented on #31
Yes, the deb's are built on Travis using cpack. I guess the reason behind cpack's existence is to make deployment for Developers easier. However, like I said before, Debian does not accept binary upload's, only source uploads, and then rebuilds the source on their infrastructure against their archive. This infrastructure is subtly different than the setup on Travis ( I don't know how Travis does b

[2018-05-08 15:33] NuLogicSystems commented on #31
Oh, you mean for the upstream Debian repositories.
My bad, I was thinking for your Netrunner Debian repositories.
PS: their is a source.tar.xz there as well, this includes even the external (appimage) sources.

[2018-05-08 15:41] star-buck commented on #31
We need this in extras, not debian upstream for this package.
On May 8, 2018 17:29, "Rohan Garg" <notifications@github.com> wrote:

[2018-05-09 12:36] shadeslayer commented on #31
The original ticket says Debian testing upstream, which is why I made the above comments.

However, our CI has similar requirements anyway, we've been down the path of git submodules before with Ring KDE and it led to a absolute mess. We should aid AIL to fix their build system and then package appimagekit and AIL.

[2018-05-09 13:57] star-buck commented on #31
Okay, please go ahead.

[2018-05-15 12:46] ScarlettGatelyMoore commented on #31
I was looking into starting appimagekit to get a head start on this, unfortunately the packaging has been claimed in debian - https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=854902
So if I were to package it, it couldn't be put in debian archives.

[2018-05-15 12:52] shadeslayer commented on #31
That is merely a ITP, a year old one at that. I think if you package it, Debian would be open to having it in their archives.

[2018-05-15 12:58] ScarlettGatelyMoore commented on #31
Yeah, being a good collaborator and all, I have sent a query to the ITP. I will start on it anyway. Though, heads up, I tried helping probono on this back in my appimage days and ran into issues with him embedding network calls. Hopefully he has resolved that.

[2018-05-18 20:38] ScarlettGatelyMoore commented on #31
UPDATE:
While I did make some progress with the Appimagekit-continuous pre release, there are still 2 of 6 external packages brought in with git submodules/ git clones. When I get back from vacation I will try to work with probono to get these worked out. The previous packager also ran into these problems and gave up. Obviously he was happy to hand it over..

[2018-05-22 09:54] #35 closed, assigned to llelectronics

[2018-05-22 10:01] star-buck opened #44 "Netrunner: smplayer: hide "Main Toolbar""

[2018-05-22 11:01] llelectronics commented on #36
This package https://github.com/netrunner-zeronet/netrunner-zeronet-iptable-settings should take care of it by providing a config file that gets automatically loaded when **iptables-persistent** package is installed.

[2018-05-22 13:10] star-buck opened #45 "Netrunner: FF: ship https://addons.mozilla.org/en-US/firefox/addon/plasma-integration/ ; disable systray info"

[2018-05-22 13:20] shadeslayer commented on #45
I believe @ScarlettGatelyClark is working on packaging this?

[2018-05-22 13:45] NuLogicSystems commented on #45
I'll add it to my "netrunner-settings-firefox" package for rolling on my next set of updates.

[2018-05-22 15:38] NuLogicSystems commented on #45
Looks like I'll also need to pull this from the AUR and package it as well:
https://aur.archlinux.org/packages/plasma-browser-integration/

Quote:

[2018-05-28 14:52] shadeslayer commented on #26
Should this be closed?

[2018-05-31 20:33] ScarlettGatelyMoore commented on #31
Hi, @shadeslayer I thought I saw in your meeting notes you packaged this?

[2018-05-31 21:01] ScarlettGatelyMoore commented on #45
(Sorry was on vacation )
Well, I started to, claimed the ITP, but saw chatter in debian-qt-kde channel about someone in mentors working on it, so I wandered off. This was last month and I do not see it uploaded or anything, so I am trying to get a status and try to claim it again, and go from there.

[2018-06-01 13:00] shadeslayer commented on #31
Only via cpack as a workaround for now. We need a proper package for this in the long term

[2018-06-01 13:37] ScarlettGatelyMoore commented on #31
ack

[2018-06-08 01:37] star-buck opened #46 "All: Spectacle: Default config: TICK "Quit after Save or Copy" AND "Save" (instead of "Save as")"

[2018-06-08 09:55] llelectronics commented on #46
Added new default config for specacle here: https://github.com/ds9-common/default-settings-kdeapps/commit/030e9a566f4e2b2139c92c1d6c52deb5085b969b

[2018-06-16 03:59] star-buck opened #47 "Idea: Add "Printer setup" Webapp link to "http://localhost:631/admin""

[2018-06-22 11:39] star-buck commented on #45
@NuLogicSystems : is that in? Because Plasma still points to it from the systray...
maybe we can disable that.

[2018-06-22 12:05] star-buck opened #48 "FF: disable animations"
about:config
set toolkit.cosmeticAnimations.enabled to false

[2018-06-22 13:40] NuLogicSystems commented on #45
Both should be installed.
What systray info are you referring to exactly?
I don't see anything in my tray for this extension, can I get a screen shot?

[2018-06-22 15:16] ScarlettGatelyMoore commented on #45
The version in Debian has systray disabled. Maxy will upload with plasma.

[2018-06-25 08:48] llelectronics commented on #48
Done here: https://github.com/netrunner-common/netrunner-settings-firefox/commit/d91f1a78a33ebb00ed1f996d3a01ab9156efd4e7

[2018-06-26 12:35] #43 closed, assigned to shadeslayer, llelectronics

[2018-06-26 12:35] #42 closed, assigned to llelectronics

[2018-06-26 12:36] #39 closed, assigned to llelectronics

[2018-06-26 12:37] #34 closed, assigned to llelectronics

[2018-06-26 12:37] #36 closed, assigned to llelectronics

[2018-06-26 12:37] #38 closed, assigned to llelectronics

[2018-06-26 12:38] #37 closed, assigned to llelectronics

[2018-06-26 12:39] #40 closed, assigned to llelectronics

[2018-06-29 10:19] star-buck opened #49 "Desktop Effects: Transparency: set blur and noise strength"
set like this:
![screenshot_20180629_100158](https://user-images.githubusercontent.com/840070/42087452-c01d4d12-7b85-11e8-808a-007bd62d30e9.png)

[2018-06-29 10:20] star-buck opened #50 "Desktop Effects: Enable "Background Contrast""

[2018-06-29 11:11] star-buck opened #51 "Firefox: add ublock blocking rule due to "google hidden throbber under linux""
@NuLogicSystems : seems this is missing again in latest rolling beta2:

add to "ublock - My filters":
[code]

see here: https://github.com/netrunner-rolling/2018.01/issues/40

[2018-06-29 15:44] star-buck opened #52 "SMPlayer: find a way to make MAIN TOOLBAR stay DISABLED"

[2018-06-29 15:45] #44 closed, assigned to shadeslayer

[2018-06-29 16:17] NuLogicSystems commented on #50
Done for rolling

[2018-06-29 16:18] NuLogicSystems commented on #49
Done for rolling

[2018-06-29 16:25] llelectronics commented on #49
@NuLogicSystems can you add links to the commits when you fix something. We might want to sync your work for Netrunner (Debian base) aswell :)

[2018-06-29 16:31] NuLogicSystems commented on #49
I did in the pkgbuild here:
https://github.com/netrunner-rolling/PKGBUILD-netrunner-common/commit/bedc02f922a9ca1a93faec4f27f138d8474b2da8

Mainly because netrunner common doesn't have the blur effect enabled like rolling does.

[2018-06-29 16:35] llelectronics commented on #49
Ah ok thx :)

[2018-06-29 16:53] NuLogicSystems commented on #51
Fixed for rolling here:
https://github.com/netrunner-rolling/netrunner-settings-firefox/commit/8ee2e9ea3a366fbd8fac7878c4f9fc77de5f2ab7

[2018-06-29 17:36] NuLogicSystems commented on #52
I made an upstream request to change the way disabling the main toolbar is handled.
https://sourceforge.net/p/smplayer/feature-requests/709/

[2018-06-30 08:52] star-buck commented on #52
There very likely is a workaround though?

[2018-06-30 16:24] NuLogicSystems commented on #52
There is, use a different GUI (interface), one that doesn't have toolbars.
Well, at least according to this post:
https://forum.smplayer.info/viewtopic.php?f=12&t=43#p1025

Everything else I've tried so far has not worked.

[2018-07-01 12:50] star-buck commented on #49
@NuLogicSystems : It is not done on rc1.

[2018-07-01 12:50] star-buck commented on #50
@NuLogicSystems : it is not done on rc1.

[2018-07-01 13:41] star-buck opened #53 "Desktop Effects: Animation speed: set to +1 above instant"

[2018-07-01 13:42] star-buck opened #54 "Desktop Effects: UNTICK "Scale in""
not sure if only Rolling is affected, but lets double-check both versions.

[2018-07-01 18:19] star-buck opened #55 "Rolling: Kamoso is missing FX? I think kipi-plugin is needed..."

[2018-07-01 20:39] NuLogicSystems commented on #55
OK, I'll add it for next ISO.
I see what happened, it was listed as a digikam extra package and the Kamoso package dosent list it as a dependancy at all.

[2018-07-01 21:10] NuLogicSystems commented on #55
Done

[2018-07-01 21:32] NuLogicSystems commented on #54
Done for rolling:
https://github.com/netrunner-rolling/PKGBUILD-netrunner-common/commit/02b5c5ec292e367d0eb84df31d6026bcdc708de8

[2018-07-01 21:32] NuLogicSystems commented on #53
Done for rolling:
https://github.com/netrunner-rolling/PKGBUILD-netrunner-common/commit/02b5c5ec292e367d0eb84df31d6026bcdc708de8

[2018-07-01 21:33] NuLogicSystems commented on #49
I set them. Let me take another look.

[2018-07-01 22:43] NuLogicSystems commented on #49
I see what I did wrong, it's fixed in updated package.
https://github.com/netrunner-rolling/PKGBUILD-netrunner-common/commit/768db21e3c004b9dabe42815b2b09658c11332f3

[2018-07-02 00:10] NuLogicSystems commented on #50
I now have the changes all sorted out now:
https://github.com/netrunner-rolling/PKGBUILD-netrunner-common/commit/a2aa0fe9c214e5f39aec00b51350c0d3831ed51a

[2018-07-02 08:30] llelectronics commented on #49
Commit landed here: https://github.com/netrunner-common/netrunner-settings-theming/commit/3e8a5d1770a83762eaedaa49f7c968f97cb3b8a5

[2018-07-02 08:31] llelectronics commented on #53
Landed here: https://github.com/netrunner-common/netrunner-settings-theming/commit/0c4917fbceb028d0f48946f6ddef4c448354f171

[2018-07-02 08:32] llelectronics commented on #50
Landed here: https://github.com/netrunner-common/netrunner-settings-theming/commit/0887bd7110fd6cec4c000010e555f30287508340

[2018-07-12 12:26] star-buck opened #56 "Package: disable gtk3-csd, install gtk3-mushrooms (gtk3-classic) -or- gtk3-nocsd"
PREFERRED:
gtk3-classic is the Manjaro package, the arch (AUR) entry and upstream name is gtk3-mushrooms:
https://github.com/TomaszGasior/gtk3-mushrooms
https://aur.archlinux.org/packages/gtk3-mushrooms/
https://forum.manjaro.org/t/gtk3-classic-gtk3-mushrooms-gtk3-with-my-own-patches/

----
ALTERNATIVE gtk3-nocsd:
- add kwin script: https://www.opendesktop.org/p/1235093/
- package and add gtk3-noc

[2018-07-12 13:01] star-buck opened #57 "Gimp: change Theme to "system""
![screenshot_20180712_145812](https://user-images.githubusercontent.com/840070/42634777-728720be-85e4-11e8-8fa8-7f98be5e8a75.png)

[2018-07-12 13:56] NuLogicSystems commented on #57
Netrunner rolling ships Gimp 5.10, the netrunner-common/default-settings-applications settings are for Gimp 2.8. These are not picked up by or caried over (merged) into Gimp 2.10. The toolsrc file has changed to use stock-id instead of icon-name now. So far that's the only major change I've found besides location of config files. The new location is ~/.config/GIMP/2.10

[2018-07-12 14:16] llelectronics commented on #57
Yep only relevant for Gimp 2.10. 2.8 actually has no "System" Theme. Gimp 2.10 is in Debian Sid currently. Will perform the change after it landed in testing.

[2018-07-12 14:19] NuLogicSystems commented on #57
Should I go ahead and merge our old changes into ~/.config/GIMP/2.10 with the syntax changes, and then add the gimprc file for the theme change for rolling and/or future proffing debian edition?

[2018-07-12 14:22] llelectronics commented on #57
Yep please do so

[2018-07-12 15:47] NuLogicSystems commented on #57
Will do as soon as I get back to the office.

[2018-07-12 16:08] NuLogicSystems commented on #57
Done

[2018-07-13 14:15] star-buck commented on #56
@NuLogicSystems : how can we best add this to rc5?
And share with @llelectronics , @shadeslayer ?

[2018-07-13 14:56] NuLogicSystems commented on #56
IDK the thought of using this never crossed my mind, I'd have to reasearch it.
However, I did find these.
https://aur.archlinux.org/packages/gtk3-nocsd-git/
https://aur.archlinux.org/packages/lib32-libgtk3-nocsd-git/

[2018-07-13 15:04] NuLogicSystems commented on #56
@star-buck,
I also just found this: https://sources.debian.org/src/gtk3-nocsd/3-1/

[2018-07-13 15:20] NuLogicSystems commented on #56
Manjaro on the hand packages gtk3-classic and lib32-gtk3-classic that are built using https://github.com/TomaszGasior/gtk3-mushrooms

Oberon packages these for use on mate, xfce, etc. as an alternative to the default gtk3.
Here is the thread: https://forum.manjaro.org/t/gtk3-classic-gtk3-mushrooms-gtk3-with-my-own-patches/

This is what I use on my personal home PC (Enlightenment):
http://www.enli

[2018-07-16 16:59] NuLogicSystems commented on #56
Please let me know which way to go for the RC5 ISO?

[2018-07-16 17:16] star-buck commented on #56
The way described.
Classic i am not even sure how it looks works, so i cant compare.
On Jul 16, 2018 19:00, "James Kittsmiller" <notifications@github.com> wrote:

[2018-07-16 17:28] NuLogicSystems commented on #56
OK, I'll need to take another look at the AUR packaging again.
I've never used this gtk3-nocsd hack before, so I don't know how it looks or act's.
I've only used the gtk3-mushroom patches for GTK3 (gtk3-classic).

[2018-07-17 17:08] NuLogicSystems commented on #56
@star-buck
Is the kwin skript that you linked above the same one that comes with kwin 5.13.3:
![screenshot_20180717_130952](https://user-images.githubusercontent.com/10186587/42833580-747d596a-89c2-11e8-83c8-a4bab09bafef.png)
one that is already installed with Plasma

[2018-07-17 18:16] NuLogicSystems commented on #56
OK, I'm almost done packaging what is needed.
No offence, but I do have to say though, that was a lot of jumping through hoops just to do the same thing and actually less than gtk3-classic does.

[2018-07-17 19:37] NuLogicSystems commented on #56
Building ISO now.
For debian testing and unstable branches, the existing packages are slightly different than for arch, but they should still work the same way. https://packages.debian.org/testing/gtk3-nocsd

Note: The apply gtk3-nocsd as listed above is not seccesary when using the existing packages.

[2018-07-17 19:42] star-buck commented on #56
What does classic do?
Any screenshots of e.g. gnome-chess with only classic installed?
How is it made to be applied once installed?
On Jul 17, 2018 20:16, "James Kittsmiller" <notifications@github.com> wrote:

[2018-07-17 19:47] NuLogicSystems commented on #56
I already included a link to a screenshot from my Enlightenment PC above.
But I'll embed it this time:
This one has a few gtk3 apps running, but I'll do another one with gnome-chess as well.
![gtk3-classic](https://user-images.githubusercontent.com/10186587/42841549-6c964bd8-89d8-11e8-979f-30e1a4cddc59.jpg)

The gtk3-classic package was created by the original developer of gtk3-mushrooms with the

[2018-07-17 20:00] NuLogicSystems commented on #56
Here is another screen shot from my Enlightenment computer where I use gtk3-classic:
![shot-2018-07-17_15-58-10](https://user-images.githubusercontent.com/10186587/42842209-8896c310-89da-11e8-9f1d-11523b0bc270.jpg)

[2018-07-17 20:02] star-buck commented on #56
Can you post a screenshot how gome chess looks like just by installing
gtk3-classic on netrunner rolling?
What else needs to be set (like profile settings?) to have classic
activated and kwin render the window-decorations around gtk3 apps?
On Jul 17, 2018 21:49, "James Kittsmiller" <notifications@github.com> wrote:

[2018-07-17 20:05] NuLogicSystems commented on #56
Nothing needs to be set, unless you need to bypass any changes the patches make.
I'll need to remove the packages and settings I just made for gtk3-nocsd on my NRR box first.
Give me a few minutes to do that.

[2018-07-17 20:15] NuLogicSystems commented on #56
Here you go:
![screenshot_20180717_161648](https://user-images.githubusercontent.com/10186587/42842907-875a4696-89dc-11e8-97d4-5642ab4c3d69.png)

I removed all of the gtk3-nocsd and kwinscript packages and settings, and then installed only the gtk3-classic package in place of gtk3, nothing else needs to be done.

[2018-07-18 06:46] star-buck commented on #56
That looks exactly like expected.
Lets go with that then and see if it can be applied on Debian as well.

[2018-07-18 13:09] NuLogicSystems commented on #56
I can add this to the NRR ISO.
However, this will need to be packaged for Debian, which I'm not good at.

[2018-07-18 15:12] star-buck commented on #56
Lets see how it looks on Rolling, then Rohan or Leszek look into Debian for 18.10.

[2018-07-18 15:19] NuLogicSystems commented on #56
Sounds good.
The rc5 ISO is building now, will push it to the server once it's finished.

[2018-07-18 20:16] NuLogicSystems commented on #56
OK done, ISO is uploaded.

[2018-08-04 16:36] star-buck opened #58 "Debian stable and testing: install psmisc (seems missing at least on core)"

[2018-10-15 15:33] star-buck opened #59 "Idea: add "Web" top level menu category plus some "Web-Apps" with icons that link to pages"
I know we had looked and tried some apps before, I just can't seem to find the ticket (or it was done in person without ticket system), so here is one opened:

- add "Web" top level menu and have it sorted correctly to the bottom (A-Z sorting is on).
- add Whatsapp: https://web.whatsapp.com/
- add Telegram: https://web.telegram.org/

Both launchers should open firefox in its own process and if pos

[2018-10-20 08:11] star-buck commented on #59
an email from Eike regarding that topic:

[2018-10-25 18:08] star-buck opened #60 "Rolling: update issue breeze-kde4-netrunner"

[2018-10-25 18:09] star-buck commented on #60
if removing the "breeze-kde4-netrunner", the update works fine.
Can we automatically force remove this so people don't have to worry or guess?

[2018-10-25 22:46] NuLogicSystems commented on #60
We needed the meta package to switch back to the upstream breeze-kde4 when our patches would no longer apply. Since then Manjaro dropped all *-kde4 packages from their repository, this includes breeze-kde4. Just removing the breeze-kde4-netrunner meta package from our repository will not fix this.
Let me take a look into what can be done to correct this issue.

[2018-10-25 22:55] NuLogicSystems commented on #60
Actually, Arch is where breeze-kde4 was delegated to the AUR, and dropped from their repository.
However, this would not be an issue for anyone that used the 2018.08 ISO, or that had updated their system before the breeze-kde4 package had been removed.

[2018-10-25 23:09] NuLogicSystems commented on #60
I can't force remove the package, but I can change it to require breeze instead of breeze-kde4 thus circumventing the problem.

[2018-10-25 23:38] NuLogicSystems commented on #60
OK, I updated the breeze-kde4-netrunner meta package. This will no longer cause a problem for anyone that hadn't updated their system prior to the breeze-kde4 package removal by upstream.

[2018-10-25 23:57] star-buck commented on #60
Good, thanks.

On Thu, Oct 25, 2018, 16:38 James Kittsmiller <notifications@github.com>
wrote:

[2018-10-26 23:17] star-buck opened #61 "mouse freeze bug: Qt related"
https://bugreports.qt.io/browse/QTBUG-70760
mentioned here:
https://www.reddit.com/r/kde/comments/9ptpnx/qt_5112_stutter_bug/

[2018-11-12 17:05] star-buck opened #62 ""Netrunner 19.01 - Blackbird" ISOs"
ISOs based on debian testing snapshot go here.

[2018-11-12 17:06] shadeslayer commented on #62
Ack

[2018-11-12 20:46] star-buck commented on #57
@llelectronics : is that in debian as well?

[2018-11-12 20:52] star-buck commented on #56
@shadeslayer @llelectronics : is gtk3-classic available for debian as well? if not, can we package it?

[2018-11-13 08:24] llelectronics commented on #56
It is not available in debian.

[2018-11-13 09:55] llelectronics commented on #57
Yes. It is part of default-settings-applications and already packaged for Netrunner Debian.

[2018-11-13 11:52] NuLogicSystems commented on #56
gtk3-classic is the Manjaro package, the arch (AUR) entry and upstream name is gtk3-mushrooms:
https://github.com/TomaszGasior/gtk3-mushrooms
https://aur.archlinux.org/packages/gtk3-mushrooms/
https://forum.manjaro.org/t/gtk3-classic-gtk3-mushrooms-gtk3-with-my-own-patches/

It was discussed for debian at one point, but never went anywhere:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=890434

[2018-11-13 11:55] shadeslayer commented on #56
I highly doubt Debian would package those since the maintainer himself claims that the quality of the patches isn't great.

We can look into packaging it up for Netrunner though.

[2018-11-13 12:03] NuLogicSystems commented on #56
That's only because of his limited knowledge of C programming.
However, when he brought these to the attention of Manjaro (forum link above), they were examined, discussed, and ultimately packaged for the Manjaro repositories.

Note: We've been shipping with these by default in the rolling edition with no issues.
It would be nice if this could be packaged as star-buck suggested/requested for Debia

[2018-11-26 15:35] llelectronics commented on #62
First test version available now: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20181127.1137-amd64.hybrid.iso

[2018-11-28 15:34] star-buck opened #63 "19.01 ideas- quick overview (dont implement yet)"
- sddm-theme-breeze
----
- gtk3 theme: ? blackbird seems broken for gnome chess etc.
- widget style kcm: untick show icons on buttons
- Firefox: videodownloader: addon: https://addons.mozilla.org/en-US/firefox/addon/video-downloadhelper
-- add this deb: https://www.downloadhelper.net/install-coapp?browser=firefox

[2018-11-28 15:36] star-buck commented on #62
- make cala work
- about: change build version to automatic timestamp built
- repo: change snapshot repo to 20190101
- repo: change netrunner-next to netrunner-1901

[2018-11-28 15:41] llelectronics commented on #62
FYI: Changing netrunner-next to netrunner-1901 is one thing to be done at the end of the development for 19.01. So we only need to create the snapshot once and not all the time during the development of 19.01.

[2018-12-01 10:57] star-buck opened #64 "FF: flash plugin doesnt work"
![screenshot_20181201_055432](https://user-images.githubusercontent.com/840070/49327298-d32bda00-f52d-11e8-83fc-432e7a05d93b.png)
tested here:
https://www.quirksmode.org/html5/tests/video.html
example video on twitter:
![screenshot_20181208_172331](https://user-images.githubusercontent.com/840070/49688173-52ad4080-fb0e-11e8-9ece-e9580d71755f.png)

[2018-12-01 11:02] star-buck opened #65 "smplayer: disable main toolbar"

[2018-12-01 11:05] star-buck opened #66 "synaptic: multiple entries issue"
https://bugs.launchpad.net/ubuntu/+source/synaptic/+bug/1533554

[2018-12-01 17:37] star-buck commented on #56
@shadeslayer @llelectronics  :
lets package gtk3-mushrooms (aka gtk3-classics) for debian in our own netrunner repo.
I'll test it once available by manually installing first, then decide if we ship it default or not.

[2018-12-01 17:51] star-buck opened #67 "Firefox: "opening with": doesnt work"
When opening for example .sh or .txt files, the popup displays a dropbox with an empty field and when dropping down it says "Other" instead of "Kate"... when clicking "Okay" it does open Kate though.

It is worse for not yet defined types, like "Appimages", where "Browse" to select a program simply does nothing:
![screenshot_20181201_124715](https://user-images.githubusercontent.com/840070/4933122

[2018-12-01 17:55] star-buck opened #68 "appimagelauncher: package latest version and make it installable (currently fails)"
libsquashfuse:
https://cloud.assassinate-you.net/s/43by7DMDpZnnNKm
libappimage:
https://cloud.assassinate-you.net/s/fcp3SyHqw8Kjr9E
appimagelauncher:
https://cloud.assassinate-you.net/s/wYAibxzBWq3x37A

----
https://github.com/TheAssassin/AppImageLauncher (poke on IRC if needed)

![screenshot_20181201_125250](https://user-images.githubusercontent.com/840070/49331253-186cfd80-f568-11e8-9af2-350b9d7

[2018-12-01 18:47] #15 closed, assigned to aleixpol, davidedmundson

[2018-12-01 18:49] star-buck commented on #59
works okay so far when adding the package.

[2018-12-01 19:05] star-buck opened #69 "dolphin: right sidebar: configuration is reset again :/"
configuration should be this:
![screenshot_20181201_140450](https://user-images.githubusercontent.com/840070/49331887-2aec3480-f572-11e8-8646-41a61ee7f54a.png)

[2018-12-01 19:43] star-buck opened #70 "webapps: add "Skype-Web""
add Skype: https://web.skype.com

[2018-12-01 20:57] star-buck opened #71 "fonts: hinting: set to RGB, Slight"
![screenshot_20181201_155519](https://user-images.githubusercontent.com/840070/49332802-c507a900-f581-11e8-85bc-1d1c3460af3f.png)

[2018-12-02 03:46] TomaszGasior commented on #56
Hello. I am gtk3-mushrooms author. It's nice to hear that you are interested in using my patchset. I am not using netrunner nor I am not going to but I can help you by answering eventual questions about gtk3-mushrooms here. I am using gtk3-mushrooms daily since first release on my all computers.

(BTW gtk3-mushrooms is official name of my AUR package. gtk3-classic name was chosen by Manjaro mainta

[2018-12-03 09:18] star-buck opened #72 "add package default: "web-menu-entries""

[2018-12-03 09:20] star-buck commented on #56
@TomaszGasior : Thanks a lot! If we have any questions or need help we appreciate to get back to you.

[2018-12-03 09:47] llelectronics commented on #65
We had a commit before that should've hide the main toolbar. That did not work apparently.
I added this now which in my tests is working: https://github.com/ds9-common/default-settings-applications/commit/8bbe6a43941c95f2fed6ad2150257b42cc290100

[2018-12-03 09:52] llelectronics commented on #69
Added the configuration file: https://github.com/ds9-common/default-settings-kdeapps/commit/1f8962074ad8343c2b1e573408966de7f6e3f6d0

[2018-12-03 10:01] llelectronics commented on #71
This needed a new fontconfig subdirectory with fonts.conf file: https://github.com/netrunner-common/netrunner-settings-theming/commit/98c367781fd5db71226e51d7291ddc8bf2fc8dcc

[2018-12-03 10:11] llelectronics commented on #70
Added skype here: https://github.com/ds9-extras/web-menu-entries/commit/07e0ec5c9d8a78f3be34969d3d3e19c31c20c796

[2018-12-03 10:15] llelectronics commented on #64
Flash is a deprecated technology therefor Click to play is enabled by default in firefox. If you click on "Run Adobe Flash" it should load flash (and maybe fail because of something else being shitty on that site)

[2018-12-03 13:12] star-buck opened #73 "packages: discover is missing"

[2018-12-03 13:14] star-buck commented on #73
also appstream, etc. when installing it

[2018-12-03 13:29] llelectronics commented on #73
I think this is the wrong issue tracker (as it is for Plasma 5.14). Anyway for netrunner we tend to remove discover in the end. I changed that so the next ISO should have it.

[2018-12-03 13:30] star-buck opened #74 "two conflicts while updating packages"
![screenshot_20181203_082816](https://user-images.githubusercontent.com/840070/49376524-81be4f00-f6d5-11e8-890e-e99d2e20497c.png)
![screenshot_20181203_082837](https://user-images.githubusercontent.com/840070/49376530-8551d600-f6d5-11e8-842b-750ff180d49e.png)

[2018-12-03 13:30] star-buck commented on #73
yes, we readded discover since the switch to kirigami i think.

[2018-12-03 13:41] star-buck commented on #74
for skype conflict: rename icon to skype-web?

[2018-12-03 13:44] llelectronics commented on #74
Yeah renamed icon to skype-web.
The other issue should be fixed aswell.

[2018-12-03 14:27] star-buck commented on #74
still getting this:
![screenshot_20181203_092700](https://user-images.githubusercontent.com/840070/49379669-a74f5680-f6dd-11e8-98aa-1310b27a62eb.png)

[2018-12-03 14:29] star-buck commented on #70
skype is not properly installed though:
![screenshot_20181203_092827](https://user-images.githubusercontent.com/840070/49379729-d796f500-f6dd-11e8-8543-3e5347c03685.png)

[2018-12-03 14:36] llelectronics commented on #74
The package is not updated yet on dci. Somehow jenkins failed to pull it from git. Had to manually trigger it again.

[2018-12-03 14:42] llelectronics commented on #70
Should be fixed now. Forgot to push the new icon xD

[2018-12-04 10:28] llelectronics commented on #73
Now we have 2 update icons in the systray. One from discover and one from mintupdate.
We need to decide which one to keep.

[2018-12-04 10:43] llelectronics commented on #67
I tested this links text files and it works as expected. Showing "kate" as default for opening the file.
https://sample-videos.com/text/Sample-text-file-10kb.txt
For appimages it is normal to not show anything as long as appimagelauncher isn't installed (and that is another issue to get that compiled at all). Clicking browse is indeed doing nothing.

[2018-12-04 10:56] star-buck commented on #73
Mintupdate
On Dec 4, 2018 11:28, "Leszek Lesner" <notifications@github.com> wrote:

[2018-12-04 10:57] star-buck commented on #67
Clicking browse doing nothing is the main issue here.
On Dec 4, 2018 11:43, "Leszek Lesner" <notifications@github.com> wrote:

[2018-12-04 12:46] llelectronics commented on #67
Tested with plasmazilla ff build. There it works. So I think rebuilding the firefox package with plasma integration patches should work. Though I don't think it can be build via the CI system yet. (at least we had problems with it in the past)
**Update:** Manual building also fails as cbinding package is missing from Debian Testing currently.

[2018-12-04 12:47] llelectronics commented on #73
Plasma Discover Notifier should be disabled now with this commit: https://github.com/netrunner-artwork/artwork-lnf-theme-netrunner-desktop/commit/6a39e38cda23345b836170d4338ed886b44cc2a8

[2018-12-05 12:08] llelectronics commented on #68
Just as info. It is not installable as its dependencies are outdated. Rebuilding is currently only possible manually not in CI and fails because of **libcurl4-openssl-dev** in testing being apparently too new.
Already reported to TheAssassin.

[2018-12-05 12:16] star-buck commented on #68
Okay, please find a solution

[2018-12-06 12:26] star-buck opened #75 "cala: debug"
https://pastebin.com/mD7uDQgH

[2018-12-07 15:38] llelectronics commented on #62
New ISO ready with Cala Uefi bugfix: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20181207.1112-amd64.hybrid.iso

[2018-12-07 21:08] star-buck commented on #62
installation works, will test tomorrow!

[2018-12-07 21:08] #75 closed, assigned to shadeslayer, llelectronics, adriaandegroot

[2018-12-08 15:35] star-buck commented on #70
works!
@llelectronics : lets just rename the menu entry from Skype to "Skype-Web"

[2018-12-08 15:43] star-buck opened #76 "Firefox: set shockwave to always active, h264 to activate to install the codec"
i guess skype-web app needs the latter to be installed for webrtc:
![screenshot_20181208_164215](https://user-images.githubusercontent.com/840070/49687766-2098e000-fb08-11e8-9aa0-052cdf339a02.png)

[2018-12-08 16:26] star-buck opened #77 "firefox: cannot play video (seems h264/mp4 are not supported despite activating the plugin?)"
tested here:
https://www.quirksmode.org/html5/tests/video.html
example video on twitter:
![screenshot_20181208_172331](https://user-images.githubusercontent.com/840070/49688173-52ad4080-fb0e-11e8-9ece-e9580d71755f.png)

[2018-12-08 17:09] star-buck commented on #63
Edit the file /etc/pulse/default.pa.

Find the following line:

load-module module-udev-detect

[2018-12-08 17:35] star-buck opened #78 "login: sddm (with another theme) reports default session is set to "Plasma Debug Mode", should be normal Plasma?"

[2018-12-08 17:47] #74 closed, assigned to shadeslayer, llelectronics

[2018-12-08 17:59] star-buck opened #79 "Firefox: it seems the plasma version is severly broken"
- "Edit" from github doesnt work, it does not update to make the field editable
- github dropdowns like Assignees or Labels dont work
- "playing music" in nextcloud doesnt work
- some videos dont work
 and more.
Not sure why it is so horribly broken all of a sudden...maybe related to the firefox plasma integration? did we install the plugin from Kai Uwe btw.?

So we can try finding out why this ha

[2018-12-08 18:13] star-buck opened #80 "Firefox: Bookmarks: when adding new bookmarks after "Netrunner Forums", those will move before Netrunner Forums after a restart"
But not before "Netrunner, so there must be a difference why new bookmarks move between both default links, regardless if 1 or more are added.

[2018-12-08 18:14] star-buck commented on #77
video does work normally with firefox-esr when fireofx and firefox-plasma packages are uninstalled

[2018-12-08 18:25] #73 closed, assigned to shadeslayer, llelectronics

[2018-12-08 18:25] star-buck commented on #73
please label stuff fixed green, thanks.

[2018-12-08 18:27] star-buck opened #81 "/usr/share/sddm/themes shows Breeze and Maui folders installed, but both are empty (Breeze should be installed, we can remove Maui though completely)"
![screenshot_20181208_192611](https://user-images.githubusercontent.com/840070/49689266-4bdaf980-fb1f-11e8-8f00-ec915f4c5bce.png)

[2018-12-08 18:44] star-buck opened #82 "Desktop: Readme: point to "http://www.netrunner.com/readme-debian""

[2018-12-08 18:50] star-buck opened #83 "Gimp: Settings: Icons: set to Symbolic Inverted"
![screenshot_20181208_194832](https://user-images.githubusercontent.com/840070/49689500-65317500-fb22-11e8-8735-2e6fd77a205a.png)

[2018-12-09 11:29] star-buck opened #84 "gtk2-settings-kcm: breeze dark not fully applied"
the preview shows this:
![screenshot_20181209_122135](https://user-images.githubusercontent.com/840070/49696645-5d6ae280-fbad-11e8-8b4b-fdcc695e4d54.png)
but apps menus are still like this even after reboot:
![screenshot_20181209_122615](https://user-images.githubusercontent.com/840070/49696679-dc601b00-fbad-11e8-950e-64f3d749187b.png)
![screenshot_20181209_122712](https://user-images.githubuserco

[2018-12-09 11:43] llelectronics commented on #84
Yeah had the same issue on Neptune aswell. The issue comes from the way we ship the gtk settings.
We ship them in **/etc/gtk-{2,3}-0** as a global setting. Apparently whatever we set in there as gtk-theme has priority over whatever is set for the user in **~/.config**
@shadeslayer I would suggest switching back to shipping those gtk config in **/etc/skel/** again to "fix it" for now. It smells lik

[2018-12-09 12:55] star-buck commented on #84
@kbroulik : do you know if this is intended or a bug?
in any case, we need this to be working wether we default ship a dark theme (which i am testing for "blackbird") or light theme and the people want to switch themselves

[2018-12-09 13:07] shadeslayer commented on #84
Shipping a file in skel would break themeing customisations for GTK apps
that require root, like synaptic.

On a more serious note, what the fuck GTK?

On Sun, 9 Dec 2018, 12:44 Leszek Lesner <notifications@github.com wrote:

[2018-12-09 13:09] shadeslayer commented on #79
@leszek did you ship the Ubuntu version on Debian?

On Sat, 8 Dec 2018, 19:04 star-buck <notifications@github.com wrote:

[2018-12-09 13:13] star-buck commented on #84
well, gnome devs dont seem to care much about themeing in general these days...
we still need to fix this, but synaptic root did also not change selecting a dark theme with current iso?

[2018-12-09 13:16] star-buck commented on #84
removing the etc/gtk* folders does fix the issues, and i think the synaptic not changing themes is the lesser error at this point (it does look better without breeze even imo and seems to have fixed the multiple entires issue, or was that fixed by something else)?

[2018-12-09 13:18] star-buck commented on #66
not sure why, but it seemed fixed after deleting the etc/gtk folders. please add a comment and the label ready if fixed by something else.

[2018-12-09 13:26] #71 closed, assigned to shadeslayer, llelectronics

[2018-12-09 13:46] star-buck commented on #66
hmm, closed too early :/ still is there when clicking on a single source

[2018-12-09 14:24] star-buck opened #85 "Lookandfeel: Rename "Netrunner Black X" to "Netrunner Default", rename Netrunner Blue X to "Netrunner Blue""
this in preparation of a new "Netrunner Black" theme (without the X)

[2018-12-09 14:26] star-buck opened #86 "add Kvantum: qt5-style-kvantum on debian (not sure what it is on rolling)"

[2018-12-09 14:32] star-buck opened #87 "add libreoffice-kde5, remove libreoffice-gtk2"

[2018-12-09 14:32] #83 closed, assigned to llelectronics

[2018-12-09 14:41] star-buck opened #88 "new lookandfeel: "Netrunner Black""
- desktop theme: alphablack: https://www.opendesktop.org/p/1084931/
- icons: obsidian: https://www.opendesktop.org/p/1169579/
- widget style: kvantum
- colors: KvantumAlt
- gtk2/3 theme: breezedark, tick prefer dark theme
- windo decoration: FormaN : https://www.opendesktop.org/p/1002712/
----

[2018-12-09 15:36] star-buck commented on #67
also opening a deb file now resorts to Ark...

[2018-12-09 15:37] star-buck opened #89 "gltron missing"
package not found, but is there and if installing manually works:
https://packages.debian.org/it/sid/amd64/gltron/download

[2018-12-09 15:40] star-buck opened #90 "ksnakeduel: theme: neon"

[2018-12-09 17:23] shadeslayer commented on #89
A new version of the package was uploaded today. It ought to migrate to
testing in 5 days or so.

On Sun, 9 Dec 2018, 16:42 star-buck <notifications@github.com wrote:

[2018-12-10 08:03] kbroulik commented on #84
I would have assumed user settings to override system settings as in KDE but apparently Gnome is special again :)
Shouldn't kde-gtk-config which writes into gtk2 and 3 settings be enough with no /etc/skel changes required? Or even just "krdb" (plasma-desktop) which syncs Plasma colors to Gtk colors?

[2018-12-10 08:31] star-buck commented on #88
add this new LNF theme "Netrunner Black" in a way that it doesnt interfere with the "old" Netrunner LNF, so one can switch back and forth between the two.

[2018-12-10 09:14] llelectronics commented on #90
Fixed with: https://github.com/ds9-common/default-settings-applications/commit/cece326a42ad34ba259ec6b5f5ccf560ba5e4ec9

[2018-12-10 09:33] llelectronics commented on #87
Done: https://github.com/netrunner-desktop/netrunner-desktop/commit/fd9e370d55b87c2ddc446b1e464cc3f22fe0f67d

[2018-12-10 09:34] llelectronics commented on #82
Really http only or better https?
**edit: I'll add the https stuff as http is redirecting anyway**

[2018-12-10 09:38] llelectronics commented on #82
Done: https://github.com/netrunner-desktop/netrunner-desktop-settings-desktop/commit/bf213206d9eaac5b2c64467d131d826e3edeb3ad

[2018-12-10 09:42] llelectronics commented on #85
We have a Netrunner Desktop LNF already which is always the default loaded by plasma.
Should we really rename Netrunner Black X to Netrunner ? Maybe we can leave the name and change it accordingly to the Blue simple Netrunner Black.
The new theme we can call and add as Netrunner Dark?
Also for the sake of upgrading easily the package names for the blue x and black x package won't change anyway.

[2018-12-10 09:45] llelectronics commented on #81
They aren't actually empty and ship a configuration for setting the default wallpaper for those themes. You requested that in the past.

[2018-12-10 09:47] llelectronics commented on #70
Done: https://github.com/ds9-extras/web-menu-entries/commit/6bb459e34d386b77a313295043889d4356d00f43

[2018-12-10 09:50] llelectronics commented on #86
Done: https://github.com/netrunner-desktop/netrunner-desktop/commit/5cdbcc19d30aff290627acb7cffeddbcb26f3fb6

[2018-12-10 10:11] star-buck commented on #85
Black is not really Black, and the new theme should be called Black to due Blackbird.
So yes, lets rename the Netrunner BlackX to "Netrunner" or "Netrunner Default", or if the current LNF is actually restoring the theme to be like this, we can remove blackx and name that theme "Netrunner Default"?

[2018-12-10 10:16] llelectronics commented on #85
So the current BlackX stays the default look and feel in netrunner? Then of course we could rename it to "Netrunner default" in the menu. Though the paths and package name needs to stay blackx otherwise the risk is very high it might break something for people who upgrade

[2018-12-10 11:14] llelectronics commented on #85
Reanmed it now here: https://github.com/ds9-artwork/lnf-theme-blackx/commit/8e109596b5efd4f57a438bdca3fb0f957b08ed6e

[2018-12-10 12:14] llelectronics commented on #88
LNF does not allow to set the GTK Theme.

[2018-12-10 18:06] llelectronics commented on #62
New ISO ready with mainly Firefox fixed: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20181210.1325-amd64.hybrid.iso

[2018-12-11 11:53] llelectronics commented on #88
@star-buck do we need to package all the different icon theme variants that obsidian ships with (e.g. obsidian-amber, obsidian-amber-light,obsidian-green,...)  or is it just enough to ship the main one?

[2018-12-11 11:59] star-buck commented on #88
The main one is fine, though i dont mind shipping the package as is.
On Dec 11, 2018 12:53, "Leszek Lesner" <notifications@github.com> wrote:

[2018-12-11 12:01] llelectronics commented on #88
I am just a bit concerned because it will clutter the list of icon themes with 35 different variants of obsidian and also leaving them out helps us reducing the ISO size if we ship the icon theme by default on the ISO.

[2018-12-11 13:38] star-buck commented on #88
Sure, then just the default one.
On Dec 11, 2018 13:01, "Leszek Lesner" <notifications@github.com> wrote:

[2018-12-11 14:17] llelectronics commented on #76
Codec should be installed and working.
The Flash thing needs further configuration changes and is not ready yet.

[2018-12-11 14:27] #77 closed, assigned to shadeslayer, llelectronics

[2018-12-11 14:28] #76 closed, assigned to shadeslayer, llelectronics

[2018-12-11 15:27] star-buck opened #91 "pulseaudio: edit /etc/pulse/default.pa"
Edit the file /etc/pulse/default.pa:
Find the following line and add tsched=0 at the end:

[2018-12-12 10:42] llelectronics commented on #91
Added this should land on next ISO: https://github.com/ds9-common/default-settings-pulseaudio/commit/f28d22479f3975dcea80de2c41036dc808e029bb

[2018-12-12 12:23] llelectronics commented on #88
New LNF is now available as package **artwork-lnf-theme-netrunner-black**.
Should this be shipped by default on the ISO?

[2018-12-12 13:04] star-buck opened #92 "FF: after starting it a second time, error message appears"
![screenshot_20181212_140205](https://user-images.githubusercontent.com/840070/49871541-d02ac680-fe16-11e8-88fd-53f5bc4f99aa.png)

[2018-12-12 13:58] star-buck commented on #88
in case of the new iso yes, default.

[2018-12-12 14:13] llelectronics commented on #92
This commit fixes this: https://github.com/netrunner-common/netrunner-settings-firefox/commit/9b6382fdde16cbedc1a029bfebb9ff05f1cf4c74
Should land on next ISO.

[2018-12-12 16:31] notuxius commented on #92
No longer reproducible for me on 12.12 updated iso and on installed system after updates

[2018-12-13 10:40] llelectronics commented on #84
For now moved the gtk theme settings to skel again: https://github.com/netrunner-common/netrunner-settings-theming/commit/a78f3d340622b6550b7c5b6f883205585cd698ec

[2018-12-13 14:08] star-buck opened #93 "Kvantum: change active theme to "KvantumAlt""

[2018-12-13 14:08] star-buck commented on #88
works great, now only needs to be default activated.

[2018-12-13 16:11] llelectronics commented on #93
Done with this commit: https://github.com/netrunner-common/netrunner-settings-theming/commit/67313f52f26a6e47d1ef6fb1831ca091ce8a8338

[2018-12-13 17:23] notuxius opened #94 "Plymouth is used in Debian version of Netrunner - use it also in Netrunner Rolling?"

[2018-12-13 17:30] llelectronics commented on #62
New ISO with kvantum theming changed and Netrunner Black set as default theme: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20181213.1622-amd64.hybrid.iso

[2018-12-13 17:38] notuxius opened #95 "sddm: change cursor to white-classicia"
Currently Breeze and then white-classicia mouse cursors are displayed upon loading of Debian Netrunner and windows and then white-classicia mouse cursor upon loading of Netrunner Rolling - display only one of them - white-classicia for more consistency

[2018-12-13 18:05] notuxius opened #96 ""Touchpad was disabled because a mouse was plugged in" message appears when loading Netrunner Rolling 2018.08 live ISO in VirtualBox but no mouse was plugged in"

[2018-12-13 18:10] notuxius opened #97 "Add Plasma splash screen"
There is a fairly long period (~40 sec on USB 3.0 or VBox) of just black screen upon loading of live Netrunner - think adding Plasma splash screen will make more pleasant experience during Plasma loading

[2018-12-13 18:19] notuxius opened #98 "Shared library was not found for Online Accounts -> General system settings KCM"
![vbox-netrunner-systemsettings-shared-library](https://user-images.githubusercontent.com/2657014/49958743-655fb500-ff14-11e8-978b-b92a1f610836.png)

[2018-12-13 18:24] notuxius commented on #98
Same on Debian and Rolling

[2018-12-13 20:25] notuxius opened #99 "Boot manager entry with wrong 'Linpus lite' distribution name is displayed when starting Netrunner Debian from live USB"

[2018-12-13 20:38] star-buck commented on #97
Lets not do this. @Alexander: Please concentrate on bugs for now, not any
cosmetics.

[2018-12-13 20:38] #97 closed, assigned to nobody

[2018-12-13 20:43] llelectronics commented on #99
Can't reproduce it here. Can you retest this please I fear it might be something else you might've tested in the past that is giving you this strange entry.

[2018-12-13 21:03] star-buck commented on #99
I will also check this with latest iso.

[2018-12-13 21:14] llelectronics commented on #88
Not fully applied yet as default on latest ISO. Seems like setting the LNF alone does not work. I need to also edit the default settings to match the LNF theme :/ (so Kwin decoration, widget style are wrong)

[2018-12-13 21:49] #57 closed, assigned to llelectronics, NuLogicSystems

[2018-12-13 21:49] #49 closed, assigned to llelectronics, NuLogicSystems

[2018-12-13 21:49] #46 closed, assigned to llelectronics, NuLogicSystems

[2018-12-13 21:53] star-buck opened #100 "sddm: install SugarDark Theme and set default https://store.kde.org/p/1272122/"
- sddm: https://www.opendesktop.org/p/1272122/

[2018-12-13 22:53] NuLogicSystems commented on #94
Plymouth is not supported by Arch or Manjaro due to the numerous issues it creates.
Manjaro is in the process of providing bootsplash as an alternative.

[2018-12-14 09:07] star-buck opened #101 "UNSET login splash theme from latest iso"
i guess it does happen when swicthing LNFs from normal to black or viceversa

[2018-12-14 09:14] star-buck opened #102 "Settings: Effects: TICK ScreenEdge, TICK Fade, Set Blur to (see screenshot in comment)"
Blur:
![screenshot_20181214_101209](https://user-images.githubusercontent.com/840070/49994141-fc665480-ff88-11e8-85ac-84f4cbdbfab3.png)

[2018-12-14 09:27] star-buck opened #103 "- Firefox: addon: https://addons.mozilla.org/de/firefox/addon/plasma-integration/"

[2018-12-14 09:27] star-buck commented on #101
disable it in Desktop-Theme Alphablack

[2018-12-14 09:48] star-buck opened #104 "krita: set default theme to follow system theme"
put the following in kritarc:
[code]

[2018-12-14 10:18] llelectronics commented on #104
Done: https://github.com/ds9-common/default-settings-kdeapps/commit/1548b788a50a93e7bc39ee64fb1027b21944aac3

[2018-12-14 11:21] star-buck opened #105 "LibreOffice: Set Icons to "Tango""

[2018-12-14 11:26] #101 closed, assigned to shadeslayer, llelectronics

[2018-12-14 11:31] llelectronics commented on #105
They are set to Tango by default.

[2018-12-14 11:40] llelectronics commented on #100
Added it: https://github.com/ds9-artwork/artwork-sddm-sugar-dark

[2018-12-14 11:43] llelectronics commented on #100
Configured to be default: https://github.com/netrunner-common/netrunner-settings-sddm/commit/219cf377eb73cf5d0fc9f08d324b4b481e4f5aac

[2018-12-14 11:59] llelectronics commented on #103
We already ship that.

[2018-12-14 12:05] #103 closed, assigned to shadeslayer, llelectronics, NuLogicSystems

[2018-12-14 12:06] #92 closed, assigned to shadeslayer, notuxius, llelectronics

[2018-12-14 12:08] #82 closed, assigned to shadeslayer, llelectronics

[2018-12-14 12:08] #90 closed, assigned to shadeslayer, llelectronics

[2018-12-14 12:08] #80 closed, assigned to shadeslayer, llelectronics

[2018-12-14 12:08] #79 closed, assigned to shadeslayer, llelectronics

[2018-12-14 12:09] #93 closed, assigned to shadeslayer, llelectronics

[2018-12-14 12:40] star-buck commented on #105
Not here, its set to Breeze, which is low contrast on Dark.

[2018-12-14 12:57] llelectronics commented on #105
the lo-kde5 package seemed to adjust it :/

[2018-12-14 13:27] llelectronics commented on #105
This should fix it: https://github.com/ds9-common/default-settings-applications/commit/64894702e5ebaa3038179985ee65915306b80419

[2018-12-14 13:36] star-buck commented on #105
Yeah, doing one thing can affect another, so im testing and retesting
everything once again every time a change has been done.

[2018-12-14 18:51] star-buck commented on #105
works

[2018-12-14 18:51] #105 closed, assigned to shadeslayer, llelectronics

[2018-12-14 18:51] #86 closed, assigned to shadeslayer, llelectronics

[2018-12-14 18:52] #64 closed, assigned to shadeslayer, llelectronics

[2018-12-14 19:50] star-buck opened #106 "wallpapers: current ISO has weird wallpapers in /usr/share/wallpapers"
note sure where those come from, but remove marked wallpapers:
![screenshot_20181214_204929](https://user-images.githubusercontent.com/840070/50024169-cef9c500-ffe1-11e8-8b20-312b4010c152.png)

[2018-12-14 19:55] star-buck opened #107 "Localization: installing in German misses translations for Firefox, Krita"
so far Firefox , Krita.
gnome chess, thunderbird, lo, marble, skype gimp all were fine.
I might have missed still something will add then here in next comment.

[2018-12-14 20:03] llelectronics opened #108 "Snapshot DCI Next Repos and switch to snapshotted repos"
Just as a placeholder to not forget snapshotting repos from DCI and switching to the snapshotted repos before releasing any final ISO.

[2018-12-14 20:08] llelectronics commented on #107
Internet access was there during install? (this should take care of it in calamares if internet access is there: https://github.com/netrunner-desktop/calamares-desktop/blob/master/etc/calamares/modules/packages.conf#L8)
As for Krita we need to add **krita-l10n** to the above.

**edit:** Firefox-l10n-* packages are missing from DCI. We need to add them from Sid

[2018-12-14 20:11] llelectronics commented on #106
The bluebird, greybird stuff comes from the blackbird package which pulls them as recommends. As we don't use blackbird as gtk theme anymore It should be save to remove it from our packages and so the wallpapers won't be pulled.

[2018-12-14 20:13] star-buck commented on #106
i have an idea: since i also see now multiple themes in GTK2 settings, those are probably xubuntu related gtk2 themes, and one of them is "Blackbird".
I assume a lot of xubuntu/blackbird/gtk themes have been pulled by accident, so by removing these again, the wallpapers and other stuff should be fixed again.
I will copy off the Blackbird theme though,as it is better then Breeze dark and matches Kv

[2018-12-14 20:14] star-buck commented on #106
screenshot:
![screenshot_20181214_211344](https://user-images.githubusercontent.com/840070/50025258-2a798200-ffe5-11e8-84ad-e6c80462ba7f.png)

[2018-12-14 20:22] star-buck opened #109 "Yakuake: Profile: Karbonate: increase Transparency to 10%"
![screenshot_20181214_212127](https://user-images.githubusercontent.com/840070/50025595-5cd7af00-ffe6-11e8-8fb7-01ecd88ca2bd.png)

[2018-12-14 20:23] #98 closed, assigned to nobody

[2018-12-14 20:23] #88 closed, assigned to shadeslayer, llelectronics

[2018-12-14 20:24] #84 closed, assigned to shadeslayer, llelectronics, kbroulik

[2018-12-14 20:30] star-buck opened #110 "Firefox seems to still have an issue with dark themes (reading up some tickets for a possible fix)"
https://bugzilla.mozilla.org/show_bug.cgi?id=1283086
example sites:
bing.com
opendesktop.org/login

[2018-12-14 20:39] llelectronics commented on #110
We applied a fix in Neptune for this forcing input and textfields to use the breeze light theme in config. We could do the same for Netrunner.
Only downside so far the search bar when searching on sites seems to be hard to read when it isn't finding the word.

All necessary is setting this
`// For dark themes use light gtk input text fields`
`pref("widget.content.gtk-theme-override", "elementary")

[2018-12-14 20:45] star-buck commented on #110
any screenshot example of the hard-to-read downside?

[2018-12-14 20:47] star-buck commented on #110
there is also light font on white searchfield:
![screenshot_20181214_214708](https://user-images.githubusercontent.com/840070/50026610-e046cf80-ffe9-11e8-9b56-ddb63695b4b7.png)

[2018-12-14 20:59] llelectronics commented on #110
![grafik](https://user-images.githubusercontent.com/3415572/50027163-9232cb80-ffeb-11e8-941e-2266b9bfc032.png)

[2018-12-14 21:45] star-buck commented on #110
ah okay. needs to be tried to make a judgement, so i propose if there is no better solution at this moment to ship it next iso.

[2018-12-14 21:47] star-buck commented on #85
now what exactly is the difference between Netrunner Desktop and Netrunner Default?
![screenshot_20181214_224651](https://user-images.githubusercontent.com/840070/50029134-30299480-fff2-11e8-8d4d-950dd0c345d3.png)

[2018-12-14 21:50] star-buck commented on #85
if both are the same, we could remove "Netrunner Default" and only leave Netrunner Desktop?

[2018-12-14 21:51] #67 closed, assigned to shadeslayer, llelectronics

[2018-12-14 21:52] star-buck opened #111 "Firefox: opening a .deb file should suggest "Qapt", not Ark?"

[2018-12-14 21:52] llelectronics commented on #85
Almost the same. The Desktop one also contains the setup scripts for setting up the panel and desktop containment.

[2018-12-14 21:54] star-buck opened #112 "Dolphin: single-click is changing with Looknfeel, e.g. Netrunner Default is doubleclick, Netrunner Black sets it to Singleclick"
maybe @notmart knows where this could be set?

[2018-12-14 21:54] star-buck commented on #100
works, now needs a bit finetune.

[2018-12-14 21:54] #100 closed, assigned to shadeslayer, llelectronics

[2018-12-14 21:55] llelectronics commented on #112
Yeah I added it to Netrunner Desktop and Netrunner Black LNFs config to force set it to double click. If we remove the Netrunner Default that shouldn't be an issue anymore. Only the Netrunner Blue must be updated then.

[2018-12-14 21:57] star-buck opened #113 "sddm: SugarTheme: set background to black-birth.jpg"

[2018-12-14 21:58] star-buck opened #114 "sddm: has "PlasmaDebug" session selected default, change to "Plasma""
(just noticing, that after manually setting it to Plasma instead of PlasmaDebug, the first login is MUCH faster..)

[2018-12-14 21:59] star-buck commented on #99
didnt see Linpus anywhere.
@notuxius : did you use Linpus on your side, or downloaded it anywhere in the past?

[2018-12-14 22:00] #102 closed, assigned to shadeslayer, llelectronics

[2018-12-14 22:00] star-buck opened #115 "Yakuake error: couldnt apply blur/transparency"
error here,also one can see the add new window "+" is not rendered:
![screenshot_20181214_212127](https://user-images.githubusercontent.com/840070/50029764-26a12c00-fff4-11e8-8778-16a1e18efed4.png)

[2018-12-14 22:02] star-buck commented on #115
![screenshot_20181214_230210](https://user-images.githubusercontent.com/840070/50029797-4fc1bc80-fff4-11e8-8816-fc8128ea7c59.png)

[2018-12-14 22:03] star-buck commented on #112
okay, will mark this green then and test with next iso.

[2018-12-14 22:06] star-buck commented on #89
gltron seems installed on new iso.

[2018-12-14 22:06] #89 closed, assigned to shadeslayer, llelectronics

[2018-12-14 22:07] star-buck commented on #85
if we can safely get rid of Netrunner Default, then lets do that.

[2018-12-14 22:07] star-buck commented on #78
double ticket, closing here

[2018-12-14 22:07] #78 closed, assigned to shadeslayer, llelectronics

[2018-12-14 22:08] #69 closed, assigned to shadeslayer, llelectronics

[2018-12-14 22:12] star-buck opened #116 "wallpapers: add new package and set new default (remove 1803 ones)"
will post link to zip here

[2018-12-14 22:26] star-buck opened #117 "Firefox: ublock: seems the filterlist is broken/not visible"
![screenshot_20181214_232346](https://user-images.githubusercontent.com/840070/50033159-a250a800-fff7-11e8-8174-0c50c0057bbc.png)

[2018-12-14 23:09] star-buck commented on #116
all wallpapers for this release:
https://www.dropbox.com/s/g0xbfaxnxwfdzhc/wallpapers-1901.rar?dl=0

[2018-12-14 23:10] star-buck commented on #116
set default to blackbird.png

[2018-12-14 23:11] star-buck commented on #113
set default background to "black-birth.jpg" from new wallpapers package

[2018-12-15 08:51] notuxius commented on #99
Here is shot of my boot manager after pressing F12 on Lenovo laptop

![img_20181214_152510](https://user-images.githubusercontent.com/2657014/50041062-3ef66280-0057-11e9-9f06-2bd24f5e6c41.jpg)

[2018-12-15 08:58] llelectronics commented on #99
Like expected that is an issue of that particular USB Stick that had Linpus on there before I assume

[2018-12-15 08:59] star-buck commented on #99
Interesting.
@Alexander: did this usb stick had Linpus on before?

[2018-12-15 10:09] notuxius commented on #99
Same Linpus entry on other USB drive - tried writing with SUSE image writer and with Gnome Disks.
Writing Rolling on same USB drive shows 'EFI USB Device' entry instead of Linpus in boot manager.

[2018-12-15 11:11] star-buck commented on #99
Please answer the question:

Did any of you ever use or downloaded Linpus recently or in the past?
On Dec 15, 2018 11:09, "Alexander Mentyu" <notifications@github.com> wrote:

[2018-12-15 11:18] llelectronics commented on #111
It suggests Discover for me:
![image](https://user-images.githubusercontent.com/3415572/50042475-93074400-0063-11e9-8be5-7cf665f43424.png)

[2018-12-15 11:27] llelectronics commented on #115
I noticed changing the LNF theme a few times breaks the visuals completely for yakuake.

[2018-12-15 11:36] star-buck commented on #115
Okay, so will look how it works default right after install before changing
to non-black and back.

[2018-12-15 11:36] llelectronics commented on #116
Done: https://github.com/netrunner-artwork/artwork-wallpapers-netrunner-1901-desktop
@shadeslayer please add this repo to dci so a package can be build.

[2018-12-15 11:38] star-buck commented on #116
@llelectronics : you know how to add this yourself also, just in case for building the next ISO?

[2018-12-15 11:39] llelectronics commented on #116
@star-buck no
**edit: shadeslayer will add it to dci soon**

[2018-12-15 11:41] star-buck commented on #111
Discover is fine, though i wonder what happened to Qapt (or was it
debinstaller or something like that?)
On Dec 15, 2018 12:18, "Leszek Lesner" <notifications@github.com> wrote:

[2018-12-15 11:42] llelectronics commented on #111
The above commit changes it to use qapt-debinstaller instead of discover or ark.

[2018-12-15 13:13] star-buck commented on #116
@shadeslayer : :+1:

[2018-12-15 16:30] star-buck opened #118 "audacious: skin: set default to "Refugee""

[2018-12-15 16:33] star-buck commented on #115
seems fine the first time started, so closing this here

[2018-12-15 16:33] #115 closed, assigned to nobody

[2018-12-15 18:09] star-buck opened #119 "marble: search partitial broken, possibly due to old version?"
@ScarlettGatelyClark , @shadeslayer :
why some app versions are really old, even though they are supposed to be shipped as package of latest kde apps and there are more recent kde apps in testing?
Can we try to get latest 18.08 or 18.12 version into sid/testing or put into our own repo?

https://packages.debian.org/en/experimental/marble
https://cgit.kde.org/marble.git/log/?h=Applications/18.08

[2018-12-15 18:43] notuxius commented on #99
This is possible issue on my side and i don't remember if i tried Linpus - there was a day when i launched a few dozens distros) from USB drive in one day (from other then current USB stick) - and still:
Linpus is display for USB device on these distros:
fedora, opensuse, netrunner debian, ubuntu
and not displayed on these:
manjaro, rolling, kaos, kali

[2018-12-15 18:51] notuxius opened #120 "Add '-Web' string to all apps in 'Web' category in app menu"
Not just for Skype - for distinguishing them from regular installed apps during search for example - Telegram-Web, Whatsapp-Web

[2018-12-15 19:00] notuxius opened #121 "Don't use 'Shell' as Konsole/Yakuake profile name by default"
For changing Konsole/Yakuake appearance quickly without 'Sorry. Konsole does not have permission to save this profile...' error message

[2018-12-15 19:10] star-buck commented on #121
Does it do this error for you? I never noticed this here so far.

[2018-12-15 19:11] notuxius opened #122 "Printers KCM: not found"
![systemsettings-printers-shared-library-not-found](https://user-images.githubusercontent.com/2657014/50046561-e1413500-00ad-11e9-81e6-dbe19a5b96ee.png)

[2018-12-15 19:12] star-buck commented on #120
Is there an official whatsapp app?

Otherwise its fine, its just skype we ship, so if not for that, i'd prefer
this without -web and more look into how to keep their opened task
distinguished and with their initial desktop icon(like prism did).

[2018-12-15 19:17] star-buck commented on #99
Okay, closing here then.

@Alexander:
Although this was a potential real issue, regarding the other stuff please stick to REAL bugs on Netrunner for now, like marble no longer searching correctly, etc. Dont clog this issue tracker with suggestions or ideas what you "like better". Thanks.

[2018-12-15 19:18] #99 closed, assigned to nobody

[2018-12-15 19:20] star-buck commented on #122
Good spot, is this on latest iso?

[2018-12-15 19:29] notuxius commented on #122
Yes, on installed 10.12 with updates and 13.12 live

[2018-12-15 19:31] notuxius commented on #121
Selecting on 'Edit Current Profile...' in right click menu on Yakuake - then changing appearance settings shows next error for me:

![konsole-does-not-have-permission](https://user-images.githubusercontent.com/2657014/50046725-b2788e00-00b0-11e9-8354-7c3739d6e5f7.png)

[2018-12-15 19:36] notuxius opened #123 "Reminder: ndisgtk: Cannot start 'Windows Wireless Drivers' app (lets remove it for this version)"
Next error window when starting it:

![cannot-execute-ndisgtk](https://user-images.githubusercontent.com/2657014/50046760-71cd4480-00b1-11e9-9aee-261de0f93aef.png)

[2018-12-15 19:41] star-buck commented on #121
Not for me here. Did you install the iso?

[2018-12-15 19:42] star-buck commented on #123
Confirmed.

[2018-12-15 19:44] star-buck commented on #62
llelectronics : always post link here, not just on irc.
http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20181214.1443-amd64.hybrid.iso

[2018-12-15 19:45] star-buck commented on #62
@llelectronics : always post link here, not just on irc.
@notuxius :  see above

[2018-12-15 19:45] #120 closed, assigned to nobody

[2018-12-15 19:52] notuxius commented on #121
Yes, it's on installed system

[2018-12-15 20:00] star-buck commented on #121
Try with the new iso and install, here its not possible for me to replicate.

[2018-12-15 20:55] notuxius commented on #121
Tested with 14.12 in live and installed on VBox with same error

[2018-12-15 21:04] notuxius opened #124 "'Software Sources' isn't launching"
Steps:
1. Start Discover.
2. Open bottom left 'Settings' page.
3. Press top right 'Software Sources' button.

[2018-12-15 21:06] notuxius commented on #124
Also not starting from mintUpdate -> Edit menu

[2018-12-15 21:24] notuxius opened #125 "Reminder: Netrunner splashscreens (can be deleted)"
Steps:
1. Start System Settings app.
2. Select 'Plasma Tweaks' -> 'Splash Screen' page (notice no preview image for 'Netrunner Desktop' splash).
3. Press 'Test Splashscreen' button for 'Netrunner Desktop' splash.

Observed:
'ksplashqml' task appears in Task Manager with no fullscreen splashscreen animation.

[2018-12-15 21:28] notuxius commented on #125
Also completely black preview image for 'Netrunner Blue' splash

[2018-12-15 21:31] notuxius commented on #125
Pressing 'Test Splashscreen' button for 'Netrunner Default' and 'Netrunner Blue' splashscreen crashes ksplashqml

Backtrace:

[code]

[2018-12-15 21:44] star-buck commented on #125
we could remove all Netrunner Default, Desktop and Blue splashscreens, since we never use them or rather should all Netrunner themes set to Nosplash?
![screenshot_20181215_224340](https://user-images.githubusercontent.com/840070/50047694-ece72880-00ba-11e9-8730-d7e399d6e96b.png)

[2018-12-15 21:48] notuxius opened #126 "Differences in GRUB menu entries on BIOS and EFI systems"
Advanced options GRUB menu entry is displayed when launching Netrunner Debian in VBox (BIOS):
![grub-menu-advanced-options](https://user-images.githubusercontent.com/2657014/50047717-d09bb980-00c3-11e9-97e7-a2efa128d674.png)

but not when launching from USB drive on real HW (EFI)
memtest is displayed in GRUB menu when launching Netrunner Rolling in VBox (BIOS) but not when launching from USB drive

[2018-12-15 21:50] star-buck commented on #124
confirmed for both cases.

[2018-12-15 21:59] notuxius opened #127 "Netrunner Desktop - live (amd64-unsigned) (failsafe) GRUB entry text is cut off on EFI system"
On my system the 'failsafe' part of GRUB entry string does not fit:
![img_20181215_212106](https://user-images.githubusercontent.com/2657014/50047794-59672500-00c5-11e9-8c83-68297c5fe334.jpg)

[2018-12-15 22:03] star-buck commented on #126
thats fine if it doesnt affect function. lets not go into these details between manjaro and debian upstream.

[2018-12-15 22:03] #126 closed, assigned to nobody

[2018-12-15 22:05] star-buck commented on #127
not critical though, so lets leave this open.

[2018-12-15 22:10] star-buck commented on #121
the above screenshot is not installed, correct?
I doubt installed it gives an error as it should be then saved under .local/share/konsole.

[2018-12-15 22:10] #121 closed, assigned to nobody

[2018-12-15 22:12] notuxius opened #128 "Fallback GRUB menu entry isn't loading graphical user interface - only tty"
'startx' command in the tty isn't launching GUI either and leads to X error

[2018-12-15 22:14] star-buck opened #129 "Krita: dropdowns: scroll via mousewheel doesnt work"
![screenshot_20181215_230218](https://user-images.githubusercontent.com/840070/50047902-1e61f300-00bf-11e9-9bc4-93fc05b0fe3c.png)

it works fine in other parts, like system settings.
@kbroulik : since you mentioned Krita is "special" any idea why?

[2018-12-15 22:16] star-buck commented on #128
isnt that the idea for fallback? what would you expect @notuxius ?

[2018-12-15 22:40] notuxius commented on #128
possibly starting GUI in basic video mode, fallback LTS kernel or basic modules of current kernel without autodetection

[2018-12-15 22:56] notuxius commented on #129
Cannot reproduce it both in X and Wayland on:
krita 4.2.0-pre-alpha
Operating System: KDE neon Developer Edition
KDE Plasma Version: 5.14.80
KDE Frameworks Version: 5.54.0
Qt Version: 5.11.2
Kernel Version: 4.15.0-42-generic

[2018-12-15 23:11] notuxius opened #130 "Selecting Other -> Launch Feedback in System Settings app leads to it's forthcoming crash"
Steps:
1. Start System Settings.
2. Select 'Other' -> 'Launch Feedback' page (look at sys settings title bar).
3. Close System Settings or select any other page.

Observed result:
System Settings app crashes

Backtrace:
[code]

[2018-12-15 23:18] notuxius opened #131 "'There are currently no preferred languages configured.' message when opening 'Account Details' -> 'Language' KCM"
Not sure if this is ok or not

[2018-12-15 23:21] star-buck commented on #131
i think so, but not sure either.

[2018-12-15 23:31] star-buck commented on #125
seems related to this:
https://github.com/blue-systems/plasma-5.14/issues/151

[2018-12-15 23:32] notuxius commented on #121
Video with error on installed system in VBox:
https://drive.google.com/open?id=1gxd94aoCxXkasGiurKuyrZt5nAbr5i_S

[2018-12-15 23:44] notuxius opened #132 "KDE-SU: Entering wrong password into KDE su prompt leads to its freeze (frameworks-kdesu)"
Start Partition Manager and enter wrong password into prompt, same issue for Rolling - https://github.com/netrunner-rolling/QA-Bugs/issues/4

[2018-12-15 23:50] star-buck commented on #129
I dont care for developer edition though.
It is clearly not a krita issue per se, as too big to not have been noticed
and fixed by now. I am therefore poking Kai since i assume its our use of
kvantum combined with krita specialness...
On Dec 15, 2018 23:56, "Alexander Mentyu" <notifications@github.com> wrote:

[2018-12-16 05:52] NuLogicSystems commented on #132
I still don't know how to fix this.
I suspect this to be an upstream bug.

[2018-12-16 11:58] llelectronics commented on #122
Print Manager is apparently missing from Debian testing: https://qa.debian.org/excuses.php?package=print-manager
This 18.04 version from Sid is introducing two bugs that are critical (like delaying the start of plasma itself). That is the main reason why it did not land in testing.

[2018-12-16 12:11] llelectronics commented on #123
Ndisgtk package seems to be broken. Bug reported upstream to debian.

[2018-12-16 12:21] star-buck commented on #123
@Alexander: could you check any bugs reported by yourself next if any
upstream bug exists and if not and its not a netrunner problem, know how to
file one against either debian or kde?

[2018-12-16 12:28] llelectronics commented on #123
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=916597

[2018-12-16 12:30] notuxius commented on #123
Roger, will check/report upsteam

[2018-12-16 12:40] llelectronics commented on #130
Please report to Debian. Smells like an upstream bug to me.

[2018-12-16 13:27] star-buck commented on #62
@llelectronics : any chance to spin a new ISO so we can at least test and close green marked issues?

[2018-12-16 13:29] llelectronics commented on #62
New packages on dci are still missing

[2018-12-17 10:09] star-buck opened #133 "gtk2/gtk3-theme: change to "Blackbird""
Blackbird themeing: https://www.dropbox.com/s/ysn6p9gca0o9f8l/Blackbird-gtk2-gtk3.tar.gz?dl=0

[2018-12-17 10:18] star-buck opened #134 "gtk-themes: remove all kinds of new themes like greybird/albatross/bluebird, etc."
![screenshot_20181217_111706](https://user-images.githubusercontent.com/840070/50080848-549d9080-01ed-11e9-9ece-221eea242c40.png)

[2018-12-17 10:26] llelectronics commented on #133
That looks like the blackbird that is already packaged in Debian. Or is there any change in it?

[2018-12-17 10:47] star-buck commented on #133
Not yet, no, but for gtk-3 we may need an update or mix.
On Dec 17, 2018 11:26, "Leszek Lesner" <notifications@github.com> wrote:

[2018-12-17 10:52] llelectronics commented on #133
With the current dci issues I suggest staying at the debian version for now. We can always upload a newer version when necessary in our repository with a higher version number.

[2018-12-17 12:54] adriaandegroot commented on #132
This is definitely worth reporting upstream. The KAuth code in KPMCore / KPartitionManager is relatively new. It's a response to the increasing difficulty of running *anything* as root in a graphical session, and may show off problems in KAuth or in KPM.

[2018-12-17 14:09] NuLogicSystems commented on #132
Yea, I noticed this as well for certain applications.
Kauth (which uses polkit-qt), and polkit-kde-agent, don't seem to have this issue.
The problem seems to only be with kdesu.

[2018-12-17 14:32] notuxius commented on #132
Upstream report - https://bugs.kde.org/show_bug.cgi?id=389049

[2018-12-17 14:48] NuLogicSystems commented on #132
You might also try removing the polkit-qt4 and kdelibs packages from your system like I just did.
Arch/Manjaro have removed these from their repositories.
![screenshot_20181217_095012](https://user-images.githubusercontent.com/10186587/50094451-3c277900-01e1-11e9-9f51-5758d276a932.png)
The timeout feels to be much shorter (6-10 sec) now.
However, I haven't tried using octopi or partition manager i

[2018-12-17 15:30] notuxius commented on #130
Reported to KDE bugtracker - https://bugs.kde.org/show_bug.cgi?id=402243

[2018-12-17 16:52] llelectronics commented on #62
New ISO ready: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20181217.1538-amd64.hybrid.iso

[2018-12-17 17:41] llelectronics commented on #116
Landed on new ISO. Default wallpaper is still wrong due to a typo. Fix for that landed already and will be hopefully there in next ISO.

[2018-12-17 17:46] llelectronics commented on #124
That did not fix it yet. python-apt is still complaining.

[2018-12-17 17:48] llelectronics commented on #118
Did not land yet due to dci acting up. Need to rebuild package.

[2018-12-17 19:29] star-buck opened #135 "thunderbird missing"

[2018-12-17 19:31] star-buck commented on #112
still not fixed. dolphin still uses singleclick under Netrunner Black LNF

[2018-12-17 19:37] #133 closed, assigned to shadeslayer, llelectronics

[2018-12-17 19:38] star-buck commented on #134
seems done

[2018-12-17 19:38] #134 closed, assigned to shadeslayer, llelectronics

[2018-12-17 19:42] star-buck commented on #110
seems to work great!

[2018-12-17 19:42] #110 closed, assigned to star-buck

[2018-12-17 19:46] #107 closed, assigned to shadeslayer, llelectronics

[2018-12-17 19:47] #114 closed, assigned to shadeslayer, llelectronics

[2018-12-17 19:47] #113 closed, assigned to shadeslayer, llelectronics

[2018-12-17 19:48] #109 closed, assigned to shadeslayer, llelectronics

[2018-12-17 19:49] #106 closed, assigned to shadeslayer, llelectronics

[2018-12-17 19:49] #87 closed, assigned to shadeslayer, llelectronics

[2018-12-17 19:49] #85 closed, assigned to shadeslayer, llelectronics, NuLogicSystems

[2018-12-17 19:53] #91 closed, assigned to shadeslayer, llelectronics

[2018-12-17 19:53] star-buck commented on #61
seems fixed

[2018-12-17 19:53] #61 closed, assigned to nobody

[2018-12-17 19:55] #53 closed, assigned to llelectronics, NuLogicSystems

[2018-12-17 19:55] #50 closed, assigned to llelectronics, NuLogicSystems

[2018-12-17 19:55] #48 closed, assigned to llelectronics, NuLogicSystems

[2018-12-17 19:55] #45 closed, assigned to llelectronics, NuLogicSystems

[2018-12-17 19:56] #23 closed, assigned to nobody

[2018-12-17 19:59] #22 closed, assigned to shadeslayer, llelectronics

[2018-12-17 20:09] star-buck opened #136 "kmahjongg: toolbar: remove "Load" and "Save" buttons"

[2018-12-17 20:29] star-buck opened #137 "Firefox: youtube: clicking on next video mutes the audio output, so next video starts without sound"
could be firefox, the firefox integration plugin or the volume 7 mixer or something unknown.
Since version 22 of volume mixer is installed, we could update to v23 and see if it fixes the issue

Unfortunately this package depends on netrunner black theme so i cant uninstall and update manually.

@NuLogicSystems : Can you check if that is working on Rolling?
@notuxius : Can you help investigate and

[2018-12-17 20:39] star-buck opened #138 "Kate: Toolbar: Add "Search" button at the end"

[2018-12-18 09:26] llelectronics commented on #135
Should be fixed next ISO

[2018-12-18 09:39] llelectronics commented on #112
This seems to be an upstream bug. As clicking on icons on the desktop does not open anything up and the config change "SingleClick=false" is applied correctly. Though I can confirm it not working for dolphin for some reason.
After setting it in systemsettings to double click and changing the LNF then it works everytime for me btw.

[2018-12-18 09:48] star-buck commented on #112
It is working for other LNF, so it must be possible for Black, too.
On Dec 18, 2018 10:39, "Leszek Lesner" <notifications@github.com> wrote:

[2018-12-18 09:49] star-buck commented on #112
Please ask in telegram then if you dont find the cause, difference from why
NetrunnerDesktop theme does change dolphin click behaviour.

[2018-12-18 09:58] llelectronics commented on #112
I may have found the issue. The breeze-alphablack desktoptheme is also writing [KDE] section without a SingleClick=false in kdeglobals (to set its color scheme). That might interfere with whatever we write in our LNF. Changed it now in desktoptheme. Lets hope that fixes that issue on the next ISO.

[2018-12-18 10:03] llelectronics commented on #138
Seems to be not possible. I cannot add **find** or **search** to the toolbar:
![image](https://user-images.githubusercontent.com/3415572/50146632-7877d980-02b4-11e9-917c-5ebeea0345a7.png)

[2018-12-18 10:09] llelectronics commented on #137
Disabling Plasma Browser Integration Plugin makes it work again. I assume the media player integration it allows might cause the issue.

[2018-12-18 10:17] star-buck commented on #138
You can choose the other toolbar from dropdown? Here it was easily possible.
On Dec 18, 2018 11:03, "Leszek Lesner" <notifications@github.com> wrote:

[2018-12-18 10:19] llelectronics commented on #136
Done: https://github.com/ds9-common/default-settings-kdeapps/commit/84e69ea892a9bbf0fe3a186ca2d52e0a3f45b256

[2018-12-18 10:34] llelectronics commented on #138
Found it. Thx. Landed: https://github.com/ds9-common/default-settings-kdeapps/commit/2044d7989cd71cf5ec926553b5ac617684f697bc

[2018-12-18 12:37] llelectronics commented on #62
New ISO with wallpaper fix and other stuff: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20181218.1101-amd64.hybrid.iso

[2018-12-18 12:42] llelectronics commented on #112
Still broken in new ISO. More and more convinced this must be a bug somewhere not obvious to me. Will ask around

[2018-12-18 13:28] llelectronics commented on #137
Not fixed yet. Seems to occur everytime winvolume7mixer is opened.

[2018-12-18 13:30] star-buck commented on #137
Can you spin a new package with updated version?
On Dec 18, 2018 14:28, "Leszek Lesner" <notifications@github.com> wrote:

[2018-12-18 13:31] star-buck commented on #112
Please ask around to get this fixed.
On Dec 18, 2018 13:42, "Leszek Lesner" <notifications@github.com> wrote:

[2018-12-18 13:31] llelectronics commented on #137
I tried that already.

[2018-12-18 13:38] notuxius commented on #137
Can't reproduce it - audio is present when switching next videos on yt site in ff

[2018-12-18 13:44] star-buck commented on #137
Then try to do what has suggested here. Open volumemixer, open two seperate
windows with both a youtube video and then switch one in one window, etc.
Find a reproducible pattern.
On Dec 18, 2018 14:38, "Alexander Mentyu" <notifications@github.com> wrote:

[2018-12-18 13:49] llelectronics opened #139 "apt spits out warnings about trusted.gpg"

[2018-12-18 14:05] kbroulik commented on #129
Seems to be a general bug in that Krita version that was fixed only recently: https://cgit.kde.org/krita.git/commit/?id=2b5f1caa6882617c3654a6219fff9ac81d8aaace

[2018-12-18 14:58] star-buck commented on #129
Thanks for finding out the upstream bug.

[2018-12-18 15:49] shadeslayer commented on #95
@llelectronics we'll need to adjust the sddm hook for the live session for this on the ISO I believe.

[2018-12-18 15:50] shadeslayer commented on #95
As well as fixing https://github.com/netrunner-common/netrunner-settings-sddm/blob/master/etc/sddm.conf#L3 to say classica

[2018-12-18 16:44] notuxius commented on #137
1. If there were additional checkboxes checked for current audio stream in win7 mixer - like Volume Boost, Show Channels - they are unchecked on next video load.
2. Reloading page with audio doesn't mutes it - creates plus one audio stream in the mixer widget.
3. Closing current tab with audio and then restoring it also mutes audio - it creates plus one audio stream with volume level at 0% in the

[2018-12-18 16:55] llelectronics commented on #62
New ISO with hopefully fixed double click on Netrunner Black LNF: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20181218.1537-amd64.hybrid.iso

[2018-12-18 17:02] star-buck commented on #95
This ones not superimportant though.

[2018-12-18 17:06] star-buck commented on #137
Again, lets try latest version:
https://store.kde.org/p/1100894/

Also lets post all our findings via an issue here:
https://github.com/Zren/plasma-applet-volumewin7mixer/issues

[2018-12-18 17:18] llelectronics commented on #137
I already filled in a bug for them to release version 23 as otherwise dci won't pick it up.

[2018-12-18 17:22] llelectronics commented on #112
Seems to work on latest ISO

[2018-12-18 17:26] star-buck commented on #137
But isnt v23 released as plasmoid in store.kde.org?

[2018-12-18 17:29] llelectronics commented on #137
I can build it manually. Watch file is looking for another url where it can download the source directly: https://github.com/dci-extras-packaging/plasma-widget-volumewin7mixer/blob/master/debian/watch

[2018-12-19 09:48] llelectronics commented on #139
Can't reproduce on current live system. Strange

[2018-12-19 12:44] notuxius commented on #139
Here it says that 'Software Sources' app may be the culprit https://lists.debian.org/debian-user/2018/02/msg00369.html
Upstream Debian https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=867681

[2018-12-19 12:59] notuxius opened #140 "Current default FormaN window manager theme in Netrunner Debian has no additional buttons"
There are no a buttons in title bar when adding them with 'Window Decorations' -> Buttons KCM - like 'Keep above' and 'Context help' buttons
Known issue https://store.kde.org/p/1002712/

"I love this theme, but it missing some buttons.
Now i have find out to fix this:

Create (or find) a svgz-File for the Button, and put it as keepabove.svgz into the Directory: ~/.kde/share/apps/aurorae/themes/For

[2018-12-19 12:59] llelectronics commented on #62
New ISO with fixed win7volumemixer: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20181219.1045-amd64.hybrid.iso

[2018-12-19 13:08] llelectronics commented on #139
Thanks very important finding. also for errata. it isn't a blocker for now as we ship the trusted keys in trusted.gpg.d folder and it only spits out warnings and no errors.

[2018-12-19 13:09] NuLogicSystems commented on #140
Since when is the FormaN window manager default?
Did I miss something?

[2018-12-19 13:15] llelectronics commented on #140
It is the default for Netrunner 19.01

Still a minor issue right now.

[2018-12-19 13:31] NuLogicSystems commented on #140
Ah, OK then.

@notuxius
You could try leaving a comment for the author here:
https://www.deviantart.com/redraysky/art/FormaN-209737357

[2018-12-19 13:51] notuxius commented on #140
Added comment on DevArt

[2018-12-19 14:16] notuxius commented on #137
Can't reproduce this bug in latest (12.19) live iso

[2018-12-19 21:36] star-buck commented on #122
@shadeslayer @llelectronics : are those two bugs on our side, as in the kcm? We need to possibly patch and put the fixed deb in our own repos, in such a way that whenever the package officially lands in testing repo, it sueprseeds our version.

[2018-12-19 21:40] #18 closed, assigned to shadeslayer

[2018-12-19 21:41] star-buck commented on #66
already a ticket

[2018-12-19 21:41] #66 closed, assigned to shadeslayer, llelectronics

[2018-12-20 10:18] #135 closed, assigned to shadeslayer, llelectronics

[2018-12-20 10:19] star-buck opened #141 "Calamares: skipping first slide and then going back to change to another language might not completely set chosen language flags and lead to e.g. Thunderbird + Firefox have missing translations after installation in non-english language"
![screenshot_20181220_114601](https://user-images.githubusercontent.com/840070/50280462-e48d4580-044c-11e9-990f-ca77a114328b.png)

[2018-12-20 10:25] #136 closed, assigned to nobody

[2018-12-20 10:26] #118 closed, assigned to shadeslayer, llelectronics, NuLogicSystems

[2018-12-20 10:26] star-buck commented on #112
seems fixed!

[2018-12-20 10:26] #112 closed, assigned to shadeslayer, llelectronics, notmart

[2018-12-20 10:26] #111 closed, assigned to shadeslayer, llelectronics

[2018-12-20 10:27] #116 closed, assigned to shadeslayer, star-buck, llelectronics

[2018-12-20 10:27] #138 closed, assigned to llelectronics

[2018-12-20 10:28] star-buck opened #142 "mouse kcm: set acceleration to 1.4px"

[2018-12-20 10:30] star-buck commented on #137
seems fixed now.

[2018-12-20 10:31] #137 closed, assigned to shadeslayer, notuxius, llelectronics, kbroulik, NuLogicSystems

[2018-12-20 10:32] star-buck commented on #117
this is back though.
filter is not applied to e.g. youtube, etc. re-opening.

What strikes me as odd is that first time opening Firefox right after install, ublock claims 0 blocked on google.com, but 422 or 21% since install... that smells of a non-clean mixed profile?

[2018-12-20 10:46] star-buck commented on #141
![screenshot_20181220_114601](https://user-images.githubusercontent.com/840070/50280462-e48d4580-044c-11e9-990f-ca77a114328b.png)

[2018-12-20 10:53] star-buck commented on #132
Over here, it still freezes the kde su window forever.

[2018-12-20 10:53] llelectronics commented on #117
Looks fine for me:
![image](https://user-images.githubusercontent.com/3415572/50280859-edcae200-044d-11e9-95aa-ad0f040109a9.png)

[2018-12-20 11:02] star-buck commented on #108
currently still this:
![screenshot_20181220_120131](https://user-images.githubusercontent.com/840070/50281220-0b4c7b80-044f-11e9-8e6c-8853d273ca5e.png)

[2018-12-20 11:03] star-buck commented on #117
after installation, it looks like the first screenshot.
Note that i installed in German, maybe thats another factor?

[2018-12-20 11:03] star-buck commented on #117
![screenshot_20181220_120336](https://user-images.githubusercontent.com/840070/50281285-4c449000-044f-11e9-9ba6-044c6b7d4bd1.png)

[2018-12-20 11:04] NuLogicSystems commented on #132
By over here, I assume you mean debian?

[2018-12-20 11:05] star-buck commented on #117
@notuxius : Please help test this by installing latest ISO in any other language than English or German.

[2018-12-20 11:35] llelectronics commented on #141
I cannot reproduce this after applying: https://github.com/netrunner-desktop/calamares-desktop/commit/d6f991d5bbddfe1030c9a348d4829691ac9785dc
and installing in german. Both FF and TB are with german localization.

[2018-12-20 11:35] llelectronics commented on #117
Installed in german and filter list looks ok.

[2018-12-20 13:17] star-buck commented on #141
interesting.
I installed it again, now it works. I recall one supersmall difference:
- first time i clicked next on calamares while it was english, then clicked "Back" to change it to German.
- after that everything was German but Firefox and Thunderbird, so maybe some variable gets set and not changed when not selecting the language correctly the first time
- second time i chose German staight aw

[2018-12-20 13:20] star-buck commented on #124
@notuxius : can you confirm it is working now?

[2018-12-20 13:22] star-buck commented on #132
@NuLogicSystems yes

[2018-12-20 13:49] notuxius commented on #124
Yes, Software Sources app is launching on updated installed sys and on latest (12.19) live iso

[2018-12-20 14:12] star-buck opened #143 "Menu: move/hide entries"
- virtualbox: move from System -> Utilities
- vokoscreen: move from Multimedia -> Utilities
- x11vncserver: move from Internet -> Settings
----
- Utilities: hide "Kvantum Manager" (but leave visible under Settings)

[2018-12-20 14:20] star-buck commented on #143
also Synaptic seems missing under "System" menu as entry?
So once removed from Favorites, one cannot find it anymore in Dash.

[2018-12-20 14:32] star-buck opened #144 "skype: pops up password manager window (gcr-prompter), then freezes and cannot be closed via systray right-click close"
![screenshot_20181220_152919](https://user-images.githubusercontent.com/840070/50290584-6d67a980-046c-11e9-8887-7ae25bf16d47.png)

[2018-12-20 14:37] star-buck commented on #144
after manually killing process and restarting skype, it continues:
![screenshot_20181220_153339](https://user-images.githubusercontent.com/840070/50290770-08f91a00-046d-11e9-9775-4816a2c5b213.png)

its either because of german install or kwallet being crap again.

[2018-12-20 15:05] llelectronics commented on #144
Cannot reproduce it on my freshly german localized install.

[2018-12-20 15:07] star-buck commented on #119
Sad that the most important feature/functionality gets broken :/

[2018-12-20 15:09] star-buck commented on #144
This one is reproducible im quite certain. Will try again next ISO.

[2018-12-20 15:11] star-buck commented on #144
If we write our stuff in a way where ssd speed matters for the sake of a
certain order things need to startup (systemd or whatever):
I am testing on a hdd, where it took 1:10 min alone from Sddm to desktop.

[2018-12-20 15:33] llelectronics commented on #144
Only way I am asked for kwallet password is when I have autologin activated. This is intended behavior as kwallet by default uses the user password. (Kwallet PAM)

[2018-12-20 16:16] star-buck commented on #144
Hmm no, that was normal login.
I wonder if that was kwallet, since i didnt see it popup when i entered
wireless password on old netbook...

[2018-12-20 18:49] star-buck commented on #144
reproducible on another machine.
Looks like kwallet does no longer have (empty) passwords set for default wallet, so it asks for passwords the first time some app requests it.

[2018-12-20 18:51] star-buck commented on #144
@notuxius : can you please help test if you see bugs like this? its tedious if I have to write this and waiting for Leszek, Rohan or me to either have found it or confirmed and then writing something is somewhat boring/lame (it is either true you love wanted to do QA or dont, now is a good time to actually help us here and show some action...)

[2018-12-20 18:54] star-buck commented on #123
@llelectronics : lets remove ndisgtk temporary then

[2018-12-20 18:54] llelectronics commented on #123
Yeah removed it already.

[2018-12-20 19:10] notuxius commented on #144
@star-buck currently installing netrunner debian in various localizations to test ff and thunderbird missing translations, after it will test this issue

[2018-12-21 11:31] star-buck commented on #144
after testing myself again, looks like it is not kwallet, but a process called gcr-prompter:
![screenshot_20181221_112551](https://user-images.githubusercontent.com/840070/50340668-d8b88680-0513-11e9-8a49-cb6ae915f9f9.png)

[2018-12-21 11:35] star-buck commented on #144
several ideas here, not sure if something helps:
https://askubuntu.com/questions/288956/after-login-there-is-a-strange-window-asking-for-a-password

Thinking about why this now pops up, maybe adding a package from last ISO brought back some dependency, like thunderbird? also not sure if simply removing it will solve skype still working, but i guess so.

[2018-12-21 11:37] star-buck commented on #144
also this:
https://forum.manjaro.org/t/skypeforlinux-forcing-gcr-prompter-asking-for-gnome-keyring-password-every-time-starting-kde/46989/7

[2018-12-21 12:35] llelectronics commented on #144
I see that gcr is required by skypeforlinux. However I am still unable to make this prompt appear for me.

[2018-12-21 12:39] star-buck commented on #144
This appears every time on 3 machines even in live mode by simply booting
into live mode and starting skype.
If @notuxius would have had tested this as promised, he could at least
confirm or not if its happening on his side and we could start thinking why.

[2018-12-21 12:51] llelectronics commented on #144
I was able now to reproduce it in live mode after I entered my credentials it popped up. I just hit cancel 2 times and it went away and logged me in. Though yeah that is still strange. I am not sure if we can get rid of it

[2018-12-21 12:58] star-buck commented on #144
Its a stupid deoendency from debian. Im sure this is not needed for
skypelinux. Lets try to disable it and see if skype still starts?
On Dec 21, 2018 13:51, "Leszek Lesner" <notifications@github.com> wrote:

[2018-12-21 13:02] llelectronics commented on #144
The skypeforlinux.deb comes from Skype directly not Debian as Debian does not want to package this proprietary piece of spyware :)

[2018-12-21 13:11] star-buck commented on #144
Lets disable it then or remove it or render useless.
On Dec 21, 2018 14:02, "Leszek Lesner" <notifications@github.com> wrote:

[2018-12-21 15:10] llelectronics commented on #62
New first RC ISO with snapshotted Netrunner Repos: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20181221.1353-amd64.hybrid.iso

[2018-12-22 14:01] star-buck commented on #144
works.

[2018-12-22 14:01] #142 closed, assigned to shadeslayer, llelectronics

[2018-12-22 14:02] star-buck commented on #143
all fine.

[2018-12-22 14:02] #143 closed, assigned to llelectronics

[2018-12-22 14:02] #124 closed, assigned to shadeslayer, llelectronics

[2018-12-22 14:07] star-buck commented on #117
this is broken, installed it 2xtimes now on metal hardware, no VM and its like in that screenshot not working as filterlists are broken.
I may have an idea what goes on, as depending on how this is all shipped, the profile doesnt get initialized correctly maybe because of
a) I name my user always "netrunner" and there may be a conflict or
b) you name your user always the same and hence it works fo

[2018-12-22 14:11] star-buck commented on #141
@notuxius : any outcome of the testing??

[2018-12-22 14:23] star-buck commented on #108
seems okay:
![screenshot_20181222_152302](https://user-images.githubusercontent.com/840070/50375432-7dfb5980-05fd-11e9-8d60-9cbca8c89fdf.png)

[2018-12-22 14:23] #108 closed, assigned to shadeslayer, llelectronics

[2018-12-22 14:27] star-buck commented on #139
this warning is crucial to get rid of though as it demonstrates a broken and potential dangerous system to any user even if they dont understand the implications.
So while not being a technical blocker, it is absolutely a psychological blocker seeing something like this:
![screenshot_20181222_152519](https://user-images.githubusercontent.com/840070/50375471-15f94300-05fe-11e9-9af9-fd8efc78891c.png

[2018-12-22 14:29] star-buck commented on #139
is this a viable workaround as suggested in one of the comments?
[code]

[2018-12-22 14:30] #122 closed, assigned to shadeslayer, llelectronics

[2018-12-22 14:35] NuLogicSystems commented on #117
Have you looked under ~./mozilla/firefox to see if Firefox hasn't created a new profile instead of using our default one (but both are there)?
I only ask because I've seen this happen a few times on my own system when trying to restore my own backed up profile ( ~./mozilla folder ), Firefox just doesn't always keep/follow the settings in my profiles.ini, and creates a new profile anyway.

[2018-12-22 15:03] star-buck commented on #139
is this still correct/needed:
![screenshot_20181222_155021](https://user-images.githubusercontent.com/840070/50375770-23fd9280-0603-11e9-9bb0-729e0404dff4.png)

[2018-12-22 16:43] star-buck commented on #117
LIVE all is fine, installed with "netrunner" NOT.
Now it can only be that "netrunner" is special, therefore testing with other name now.

[2018-12-22 16:45] star-buck commented on #104
someone tested if this works when changing theme to something e.g. non-dark?

[2018-12-22 16:46] llelectronics commented on #104
I tested it before applying the change. And it worked fine.

[2018-12-22 16:48] llelectronics commented on #117
This is the only skel configuration file we ship for Firefox which sets the default filters: https://github.com/netrunner-common/netrunner-settings-firefox/blob/master/etc/skel/.mozilla/firefox/firefox.default/browser-extension-data/uBlock0%40raymondhill.net/storage.js
I fail to see how this configuration might be user specific.

[2018-12-22 17:16] star-buck commented on #117
What do you mean? If a home isnt clean after install, its a bug anyone
could test. I am installing now again fresh with another user as netrunner,
but meanwhile any of you could do the above suggested test and see for
yourself.
On Dec 22, 2018 17:48, "Leszek Lesner" <notifications@github.com> wrote:

[2018-12-22 17:57] NuLogicSystems commented on #117
@llelectronics,
We also ship this: https://github.com/netrunner-common/netrunner-settings-firefox/blob/master/etc/skel/.mozilla/firefox/profiles.ini

My point was that, that I've noticed with more recent versions of Firefox, it sometimes completely ignores the settings in this file and creates a completely new profile. In other words, it might not be using firefox.default like it should.

@star-bu

[2018-12-22 18:10] star-buck commented on #141
retested myself, i feel confident to confirm this does "the trick".
so going forward with American English to next slide, then going back to change it to Deutsch does leave firefox and thunderbird english, while when chosing Deutsch right away first time, translations after install are fine.

@adriaandegroot : any idea about fixing this with next version?

[2018-12-22 18:16] star-buck commented on #117
absolutely confirmed current method doesnt work when installing with neither "netrunner" nor "starbuck" as user on bare metal neither english nor german.
@llelectronics :
I am absolutely sure when you install with user "netrunner" in "Deutsch", it will fail.

What strikes me as odd is that absolutely first time opening Firefox, ublock claims 0 blocked on google.com, but 422 or 21% since install...

[2018-12-22 18:20] llelectronics commented on #117
We don't ship any profile though.
So absolutely no idea whats going wrong here as in my tests it is working.

[2018-12-22 19:27] NuLogicSystems commented on #117
I just installed on bare metal (HP pavilion TS 11) using netrunner as user name and password, the filter list is populated . My filters and My rules are also populated as expected. The ISO used was netrunner-20181221.1353-amd64.hybrid.iso

![screenshot_20181222_102852](https://user-images.githubusercontent.com/10186587/50377971-b139ea80-05f5-11e9-9206-022108d61a53.png)
![screenshot_20181222_102903

[2018-12-22 20:44] star-buck commented on #117
alright, maybe then the only idea have is that the calamares issue that prevents firefox to be translated is then also the cause for a faulty profile...
So possibly skipping one installation to test both tickets wasnt so good after all.
Will test again without that cala trick and see, meanwhile @NuLogicSystems can you do another installation in Spanish or German just to test FF?

[2018-12-22 20:45] star-buck commented on #117
if that cala trick is indeed the cuplrit, the issue would start to become a blocker...

[2018-12-22 20:50] NuLogicSystems commented on #117
Will do.

[2018-12-22 21:42] NuLogicSystems commented on #117
OK, did a fresh install selecting Deutsche in Calamares, working as expected.
However, I did not change the keyboard settings.

[2018-12-22 22:02] star-buck commented on #117
Okay, can you try once more in German, but first go ahead 2 pages in
english, then go back to first page in cala to change.

[2018-12-22 22:19] adriaandegroot commented on #117
A new Calamares release (which would be 3.2.3) from master would be a disaster at this point, because it changes more settings, .. you get a cascade of changes that need re-testing. If this turns out to be a Calamares issue, I think a 3.2.2.1 will be needed (branching off of 3.2.2 tag) or a bit of a re-numbering. I'll give it a test as well on Sunday.

[2018-12-22 23:00] NuLogicSystems commented on #117
OK, will do.

[2018-12-22 23:57] NuLogicSystems commented on #117
OK, this time Firefox is in German, and yes the filters are populated.
![screenshot_20181223_005027](https://user-images.githubusercontent.com/10186587/50379587-7a76cb00-061b-11e9-8ad9-fe19a49cb371.png)

[2018-12-23 16:43] star-buck commented on #117
i have a clue:
i installed this straight in english, no cala tricks, still got the same issue.
Now it seems not calamares related, but a race condition in how the profile materializes.
On both my slow HD machines, it is coming up BROKEN, as the profile shows first start these weird numbers of 422 blocks in the past:
![screenshot_20181223_115211](https://user-images.githubusercontent.com/840070/503

[2018-12-23 17:00] star-buck commented on #81
it made sense when we actually shipped both breeze and maui sddm in the past.
Now installing package "sddm-theme-breeze" leads to two entries:
![screenshot_20181223_175538](https://user-images.githubusercontent.com/840070/50385805-fc2e2d80-06db-11e9-90e4-daf85d9d6960.png)
I therefore suggest to remove those two folders and add "sddm-theme-breeze" theme normally again.

[2018-12-23 17:21] star-buck opened #145 "user profiles: disable/remove "Systemd Core Dumper" from showing up as user in sddm"

[2018-12-23 17:58] NuLogicSystems commented on #117
Skel gets copied when the user is created (adduser), so the Firefox profile is already there before first login.
When you first open Firefox it loads using our firefox.default profile.
Firefox itself doesn't populate the ublock plugins list, firefox only loads the plugin itself.
I think it maybe the plugin itself that is taking a long time to populate it's list on the slower hardware.
On all my te

[2018-12-27 10:25] llelectronics commented on #139
Yes this is still correct and needed. Those are the keys working.
The issue is that synaptic is broken. Whenever you open it it breaks the trusted.gpg file.

[2018-12-27 10:27] llelectronics commented on #145
I added a commit this autumn which takes care of it: https://github.com/netrunner-common/netrunner-settings-sddm/commit/fce6747b6a52b41dd3d9a8ccd4227ebc393baeba

Is it still showing up for you? If yes is the /etc/sddm.conf looking like the one we ship by default?

[2018-12-27 10:32] star-buck commented on #145
As soon as we switch sddm theme to one that shows the users with avatars
available "systemd core" is shown.
Hence I am rethinking sugarsddm tgeme and deciding on normal breeze, but
without blur (currently testing some options from the store).

[2018-12-27 10:35] star-buck commented on #117
But those ate needed due to the damn google invisible shit they put there
in some google custom logos to only affect FF negatively.
Hence we need it and it needs to work somehow (like it worked on that slow
maxhine with Rolling 2018.08).
On Dec 27, 2018 11:28, "Leszek Lesner" <notifications@github.com> wrote:

[2018-12-27 10:43] star-buck commented on #139
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=867681
The bug report has 2 entries and is from mid-2017, so i strongly disagree that this isnt solved as otherwise this would mean millions of affected users and no one ignoring such a severe visual break.
This I didnt remember seeing any of these in last release 18.03 nor any of the ISOs in the beginning?

[2018-12-27 10:43] star-buck commented on #139
"visually break", not functionality

[2018-12-27 11:45] llelectronics commented on #139
That is the correct bug report for software-properties. I retested it with a clean install and as soon as I open software-properties-kde it creates the trusted.gpg file which is not readable by _apt and also if I make it readable by apt broken anyway. So the bug is still valid and not fixed yet.
Not opening software-properties and you won't have that issue.

[2018-12-27 12:08] llelectronics commented on #139
Update. I tested with the debs from Ubuntu which seem to be way newer and they fix the handling of trusted.gpg. So using those the issue does not happen.
I created a new software-properties github repo on ds9-extras providing the sources from ubuntu.
@shadeslayer if you update dci to grab this new repo so it can build software-properties from there we can get this fixed.

[2018-12-27 12:42] star-buck commented on #139
Great.

[2018-12-28 10:33] star-buck commented on #145
for a quick solution, we could switch back to simple sddm theme for 19.01

[2018-12-28 10:37] llelectronics commented on #145
So the theme affects the issue? That would be a bug in SDDM as we ship a global /etc/sddm.conf file which sddm uses all the time.
So far I failed to reproduce the issue. I switched themes and still only my normal user was showing up.
Have you checked the /etc/sddm.conf file?
Can you give me description on what you tried so I maybe am able to reproduce the issue.

[2018-12-28 10:39] star-buck commented on #145
There is a systemdcore user visible in *every* theme that shows all user
profiles available.

[2018-12-28 10:46] star-buck commented on #145
aside that, lets switch back to simple sddm for several reasons i found with sugar sddm, as its easier then fixing those last minute :/

[2018-12-28 10:47] star-buck opened #146 "sddm : switch default to simple theme (sugar needs more fixing for next release)"

[2018-12-28 10:57] llelectronics commented on #145
I need the output of `grep systemd-coredump /etc/passwd` from the affected system. On my system it shows its UID to be 500. So it is hidden in every sddm theme.

[2018-12-29 12:31] llelectronics commented on #62
RC2 ISO: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20181229.1237-amd64.hybrid.iso

[2018-12-30 13:47] #146 closed, assigned to llelectronics

[2018-12-30 13:50] #139 closed, assigned to shadeslayer, notuxius, llelectronics

[2018-12-30 13:52] #81 closed, assigned to shadeslayer, llelectronics

[2018-12-30 13:53] star-buck opened #147 "shutdown not 100%complete (some powerlight still on that only goes off when manually pressing shutdown for 5 seconds)"

[2018-12-30 13:54] star-buck opened #148 "software sources: change backports url from dci.ds9.pub to deb.netrunner.com"
![screenshot_20181230_130615](https://user-images.githubusercontent.com/840070/50547846-cbea1000-0c42-11e9-91c7-2da0e60a049c.png)

[2018-12-30 14:36] star-buck opened #149 "update artwork-wallpapers-netrunner-1901-desktop package, as it renamed one wallpaper for ordering changes"

[2018-12-30 15:05] llelectronics commented on #149
Done.

[2018-12-30 16:40] llelectronics commented on #62
RC3 ISO: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20181230.1710-amd64.hybrid.iso

[2018-12-30 20:46] star-buck opened #150 "samba-mounter: on ssd, the previous connections do not re-establish themselves anymore after reboot"
@davidedmundson : any idea how to make sure samba-mounter connections establish themselves again correctly, because thats the whole idea of permamount them in the fstab?

Can we add something in samba-mounter or can @llelectronics  do anything in netrunner configs?

[2018-12-30 20:52] star-buck opened #151 "Web-Apps: add "Opendesktop.org""
Title "Opendesktop.org"
URL: http://www.opendesktop.org
Logo:
![ocs-logo-rounded-128x128](https://user-images.githubusercontent.com/840070/50551180-1ee0b900-0c7d-11e9-8cf3-8b36a66d4628.png)

[2018-12-30 21:38] star-buck opened #152 "synaptic: some of the entries under "origin" do not seem to make sense like all those with two "main" sections"
Local/main, netrunner-desktop-1901/main and testing/main all have two different URLS , where the snapshot.debian.org ones dont seem to make much sense?

![screenshot_20181230_223022](https://user-images.githubusercontent.com/840070/50551554-a7158d00-0c82-11e9-899e-97b9e6dcbc11.png)

Is that correct?
Fresh install with only these active:
![screenshot_20181230_223752](https://user-images.githubuserc

[2018-12-31 09:36] star-buck opened #153 "ocsstore: kio error: missing handler popup"
is there anything that can be done on netrunner side to prevent this message from popping up:
![screenshot_20181231_094825](https://user-images.githubusercontent.com/840070/50557676-bf6bc300-0ce7-11e9-9b0c-f6746fa4c19e.png)

this didnt come up on 18.03 netrunner, and is caused by using latest opendesktop appimage, which is still working fine despite this message.
Maybe there is some config where k

[2018-12-31 09:37] star-buck commented on #153
appimage can be downloaded here for trying it:
https://www.opendesktop.org/p/1175480/

[2018-12-31 10:41] NuLogicSystems commented on #153
I just downloaded the appimage and chose "run once" on my Netrunner Rolling install, I did not get that error message.
Appimage: ocs-store-3.5.0-1-x86_64.AppImage
Appimagelauncher from manjaro: 1.0alpha+git20181009.b04daee-1
libappimage from arch: 0.1.2-2

[2018-12-31 11:02] star-buck commented on #153
Where did you run it on?

[2018-12-31 11:04] NuLogicSystems commented on #153
On my Netrunner Rolling install.
However, Manjaro hasn't updated Appimagelauncher since 20181009.

[2018-12-31 11:08] NuLogicSystems commented on #153
It also looks like that appimage was just updated today (2018-12-3) on opendesktop.org, just  2 hours ago: version 3.5.0
https://www.opendesktop.org/p/1175480/#updates-panel

[2018-12-31 11:34] star-buck commented on #153
Yes, its still not working on new debian 1901, i tested this morning.
The question is why is it working on Rolling, as in what might be missing
package or different config between the two that it works on your end and
not here?

@James: Can you try without appimagelauncher, like completey remove AIL and
execute once by doubleclick on it?

Maybe appimagelauncher does something and since i dont have

[2018-12-31 11:46] chinmoyrp commented on #153
I was getting the same error on my KDE neon VM and installing ocs-url (https://store.kde.org/p/1136805) fixed it. @star-buck  Can you give it a try?

[2018-12-31 11:53] NuLogicSystems commented on #153
Removed AIL, same result, ocs-store-3.5.0-1-x86_64.AppImage launches just fine.

@chinmoyrp,
I didn't even think about that.
I have ocs-url 3.0.3 from our rolling repository installed.

[2018-12-31 11:55] NuLogicSystems commented on #153
@chinmoyrp,
Nope, after removing ocs-url, there still no error executing ocs-store-3.5.0-1-x86_64.AppImage.

[2018-12-31 12:02] chinmoyrp commented on #153
Removing /usr/share/applications/ocs-url.desktop definitely shows an error here. Maybe there's some other handler calling the ocs-url binary?

[2018-12-31 12:59] star-buck commented on #153
Can one simulate ocsurl when we dont have a package yet?

Still the appimage of ocsstore should already have ocsurl as well included,
hence installing it additional would be redundant.
On Dec 31, 2018 13:02, "Chinmoy Ranjan Pradhan" <notifications@github.com>
wrote:

[2018-12-31 13:21] chinmoyrp commented on #153
@NuLogicSystems Internally KIO searches for any desktop file with MimeType=x-scheme-handler/ocs entry and it lands a hit when ocs-url is installed. So most probably there's some other service (or something  cached) in your installation with the said entry.

[2018-12-31 13:27] NuLogicSystems commented on #153
@chinmoyrp,
Never mind, I do sincerely apologize.
I now see where my confusion came from, I didn't understand when the error occures.
Trying to install anything inside ocs-store is now giving me this error.
Re-installing ocs-url does indeed fix the problem, but then I end up with both dialogs:
![screenshot_20181231_085217](https://user-images.githubusercontent.com/10186587/50561509-7745a400-0cd9-1

[2018-12-31 13:59] NuLogicSystems commented on #153
Since the appimage is a self contained environment, shouldn't this mimetype be set inside of it?

[2018-12-31 14:40] chinmoyrp commented on #153
Simulating the download part is easy but install gets little tricky.

I don't think it is there. I extracted the appimage and couldn't locate the ocs-url binary.

It should be and that would mean including ocs-url as well in the appimage.

[2018-12-31 14:53] chinmoyrp commented on #153
The frontend shouldn't really parse any url here since the store website invokes xdg-open. I think this should be treated as a bug in ocs-store(?)

[2018-12-31 15:14] NuLogicSystems commented on #153
@chinmoyrp,

I agree, an appimage shouldn't need an external application, or mimetype to function properly.
However, this brings up another issue. If the ocs-store appimage doesn't create a desktop file, then using a browser like Firefox would not be able to set a mime type (Launch Application) for the link (url) either.
![screenshot_20181231_102441](https://user-images.githubusercontent.com/10186

[2019-01-02 10:28] llelectronics commented on #152
This looks normal to me.
We imported stuff from different origins

[2019-01-03 13:37] davidedmundson commented on #150
I took a look. The code doesn't actually save anything in fstab.
Instead on login samba-mounter starts up and mounts everything from the local config it has when it finds the network changes.

The end result should be the same, mounted dirs on boot - which somehow we're apparently not getting here.

I re-read the code, nothing immediately looked wrong, and I couldn't immediately reproduce it when

[2019-01-03 14:43] star-buck commented on #117
still getting this and ublock filter not working in RC3:
![screenshot_20190103_154047](https://user-images.githubusercontent.com/840070/50643370-2e5a4d80-0f6e-11e9-9687-f518e0cdb9cb.png)

[2019-01-03 16:27] adriaandegroot commented on #150
Freshly installed Netrunner 19.01 (at least, grub says 19.01 and I think I used the 1230 ISO). Installed in VirtualBox.

 - Boot and log in
 - Start konsole. Check that there is no `.config/samba-mounter` file.
 - Doubleclick *Network* on desktop, doubleclick *Add network drive*.
 - Enter settings for this samba share.
 - Click OK. Folder is created in `~/Desktop/Network/` called *Music*, and SMB

[2019-01-03 16:29] adriaandegroot commented on #150
## After entering first SMB settings, before OK

![screenshot_20190103_171703](https://user-images.githubusercontent.com/19431457/50648972-ec84d380-0f7c-11e9-8e11-7dc0106f45ce.png)

## First share created

![screenshot_20190103_172031](https://user-images.githubusercontent.com/19431457/50648974-edb60080-0f7c-11e9-8690-63bc439bef2b.png)

## Second share created

![screenshot_20190103_172402](https:

[2019-01-03 17:15] star-buck commented on #150
Good find, potentially chinmoy could have a look.
On Jan 3, 2019 17:29, "Adriaan de Groot" <notifications@github.com> wrote:

[2019-01-03 18:40] star-buck opened #154 "disable the password simplicity check for useradmin kcm"

[2019-01-03 18:51] llelectronics commented on #154
Not sure which kcm is meant and where to disable this.

[2019-01-03 19:04] star-buck commented on #117
it seems to work after editing the /etc/skel/.mozilla/firefox/firefox.default/extensions.ini and adding a new user to test.

[2019-01-03 19:05] star-buck commented on #151
@llelectronics : lets get this done into RC4 as well

[2019-01-03 19:06] llelectronics commented on #117
FF should not read this file at all. Only FF-ESR though.

[2019-01-03 19:08] star-buck commented on #153
@chinmoyrp : any idea how to not make it popup? as it does work fine after closing the error message and simply continue with the installation, e.g. try installing a wallpaper and find it properly installed and ready to be set from the app.

[2019-01-03 19:10] star-buck commented on #152
after taking a closer look we found it actually doesnt seem to LOOK normal, even if it behaves so.

For comparison, this is how it looked under 1803:
![screenshot_20190102_145921](https://user-images.githubusercontent.com/840070/50656437-86577b00-0f93-11e9-9ed0-426c0b408f15.png)

[2019-01-03 19:13] #149 closed, assigned to shadeslayer, llelectronics

[2019-01-03 19:16] star-buck commented on #148
now looks correct and thanks @llelectronics for the formatting too!

[2019-01-03 19:16] #148 closed, assigned to shadeslayer, llelectronics

[2019-01-03 19:19] star-buck commented on #152
found that two entries have the exact same packages:
![screenshot_20190103_201516](https://user-images.githubusercontent.com/840070/50656791-9de33380-0f94-11e9-9578-f2c69846f45a.png)
![screenshot_20190103_201523](https://user-images.githubusercontent.com/840070/50656793-9de33380-0f94-11e9-81fe-efde7b9c8cf2.png)

idea:
maybe this libnss3 got copied over to the wrong repo and therefore creates those

[2019-01-03 19:24] star-buck opened #155 "Rolling: FF toolbar issue"
@NuLogicSystems : any idea to fix that via an update?

[2019-01-03 19:32] llelectronics commented on #152
We only copied it over to the plasmazilla repo.

[2019-01-03 19:51] #145 closed, assigned to shadeslayer, llelectronics

[2019-01-03 20:16] NuLogicSystems commented on #155
What are the toolbar issues?

[2019-01-03 21:45] star-buck commented on #117
True.
Now I deleted .mozilla and started FF again to see when it actually works:
When it works, there is the storage.js under /browser-extension-data/ublock@Raymondhill.net and also correctly initialized folder /storage. When the filterlist is broken, I can delete the folder /storage and then FF starts to work.
It looks as if it sometimes fails to correctly initalize the storage.js and the "cache"

[2019-01-03 22:01] llelectronics commented on #117
This is what we ship by default in /etc/skel (the configuration file for the servers and the custom rule for google)

So basically you confirmed a bug in the extension itself.

Just remove ~/.mozilla folder and cp -r /etc/skel/.mozilla ~/

As we only ship the storage.js file which is a small one liner json file the issue in not correctly setting up the storage lies solely in the extension itself I

[2019-01-03 22:07] adriaandegroot commented on #150
Well, the screenshots (desktop background and theme) should have been a hint that I was using Idolon, not Blackbird. In any case, I have re-tested with Blackbird, and part of the problem here is that the UI is less-than-intuitive to me (as someone who has never mounted a Samba share using KDE tools before). When used correctly, it **does** work. I now have two entries in `samba-mounter` and both a

[2019-01-03 22:16] adriaandegroot commented on #132
Re-tested on Blackbird just now. The recipe given by sitter in upstream report  https://bugs.kde.org/show_bug.cgi?id=389049 works; there's also an upstream review https://phabricator.kde.org/D10716 which has been sitting for a while.

The recipe by @apachelogger  is like this:

[code]

Here, I've added `-n` to double-not-cache passwords, and used  `id` instead of `ls` because I think it's more ins

[2019-01-03 22:30] adriaandegroot commented on #141
(Test case 1)

Installed Blackbird (netrunner-20181230.1710-amd64.hybrid.iso) just now. Selected *German* on first page, picked *Berlin* as location on the world map, and erased entire disk. After reboot, clicked Firefox icon on panel (lower-left). It started in German (like the rest of my desktop).

[2019-01-03 22:38] star-buck commented on #117
Yeah, I spent the last four hours looking at this, adding users, trying to
find a state where it always works or always fails, but no success so far...
I am as far as imagining I may have noticed it does go from working to
broken just by restarting ff one more time.
Will do another round of testing tomorrow, but wondering if there is any
method in shipping ublock differently, as i even doubt its t

[2019-01-03 22:43] star-buck commented on #132
So patching would work?
Anyone able to give this a deeper look and posdibly status as official
solution ?
On Jan 3, 2019 23:16, "Adriaan de Groot" <notifications@github.com> wrote:

[2019-01-03 22:48] star-buck commented on #150
6 years of using the app almost daily, i dont even notice these
shortcomings anymore :)

Agreed that the New/Add mechanism is improvable (its similar though for a
few kcms).

[2019-01-03 22:50] star-buck commented on #150
But once it works i found this an awesome improvement of having those
remotes samba shares available equally well as if local (also as added gtk
filedialogs entries in sidebar, etc.).
On Jan 3, 2019 23:07, "Adriaan de Groot" <notifications@github.com> wrote:

[2019-01-04 00:21] NuLogicSystems commented on #117
Could it be that your shipping an installed xpi instead of the installation xpi from the server?

Installed into user profile = uBlock0@raymondhill.net.xpi
From FF Plug-in server = ublock_origin-1.16.20-an+fx.xpi

It could also have something to do with linking from/usr/share/firefox/distribution/extensions to usr/lib/firefox/distribution/extensions.

If you use a usr/lib/firefox/distribution/exte

[2019-01-04 00:29] star-buck commented on #117
Got maybe a clue: the storage.json is mostly overwritten and recompiled anyway, so sometimes this process fails and it results in a slightly smaller storage.js which then misses some lines.

Now I removed all the default lines and only left the user-filters in it, which then seems to work fine so far (tested 10xtimes, so not 100% sure yet, but much higher than before, where every 3rd skel copy fai

[2019-01-04 00:39] NuLogicSystems commented on #155
Never mind I think I found the issue and fixed it here:
https://github.com/netrunner-rolling/netrunner-settings-firefox/commit/9153f8366aedac585dc483e242bcc138aacb991d

[2019-01-04 02:33] chinmoyrp commented on #153
@star-buck The popup won't appear if we somehow prevent xdg-open(thereby prevent kioclient) from opening the url. I believe it has to be done from within ocs-store though I am not knowledgeable in electron and js so I can't say for sure if it's possible.
Here : https://git.opendesktop.org/akiraohgaki/ocs-store/blob/master/app/scripts/renderers/ipc-renderer.js#L74 is the event handling code for ocs

[2019-01-04 15:35] TheAssassin commented on #68
Building works just fine again. Working with Scarlett on packaging it "properly" (as in, packaging the dependencies for Debian, main blocker is libappimage). Once that's finished, you can build and ship those packages in a custom repo.

The update functionality would require packaging of libappimageupdate, which we haven't looked into so far, but I'll make it optional so you can build and ship a f

[2019-01-04 17:15] star-buck commented on #68
So can we or can we not ship a working deb package on monday with
libappimage?

Also didnt the update function work with only AIL before, since when do we
now need libappimageupdate for that?
On Jan 4, 2019 16:35, "TheAssassin" <notifications@github.com> wrote:

[2019-01-04 17:16] TheAssassin commented on #68
@star-buck I don't know what was shipped before, to be honest. libappimageupdate has always been needed for updating.

I was referring to the "proper" way of packaging things (i.e., Debian style). A quick-and-dirty package can always be built & shipped. (Hint: AppImageLauncher's CMake configuration is doing some bad hacks to build & ship `libappimage{,update}` privately, same goes for AppImageLaun

[2019-01-04 17:19] star-buck commented on #68
I thought you were responsible to build working packages via travis on
github for debian (testing)?

[2019-01-04 17:20] TheAssassin commented on #68
Oh, yes, there's working packages on the GitHub release page. They contain all the dependencies. Did you ship these?

[2019-01-04 17:41] star-buck commented on #68
Working deb packages that install and run fine under netrunner 1901 / debian testing?

[2019-01-04 17:42] star-buck commented on #68
Please link to the package that works here, but is not an appimage.

[2019-01-04 17:47] TheAssassin commented on #68
I just have this snapshot tagged 2018-12-30, and there the "bionic" (I know, the name doesn't quite apply... but they work) packages can be installed (just tested):

https://github.com/TheAssassin/AppImageLauncher/releases/download/continuous/appimagelauncher_1-alpha-travis448.git20190104.f10b11a.bionic_amd64.deb
https://github.com/TheAssassin/AppImageLauncher/releases/download/continuous/appimage

[2019-01-04 18:06] star-buck commented on #68
Why does odio land in Lost&Found when "installing" with AIL?

https://www.appimagehub.com/p/1282377

[2019-01-04 18:09] star-buck commented on #153
Add a dummy schema handler which will eat the popup inside ocsstore
appimage?
Or on Netrunner 1901?

Any example schema/file that Akira or Netrunner can use?
On Jan 4, 2019 03:33, "Chinmoy Ranjan Pradhan" <notifications@github.com>
wrote:

[2019-01-04 18:35] TheAssassin commented on #68
Broken desktop file:

[code]

[2019-01-04 18:39] star-buck commented on #68
Ah okay, can you post a comment to the creator on that product page?
On Jan 4, 2019 19:35, "TheAssassin" <notifications@github.com> wrote:

[2019-01-04 18:41] TheAssassin commented on #68
That app isn't free software, it seems (I can't find the source download), but there's an issue tracker on GitHub. Will post it there.

[2019-01-04 21:15] chinmoyrp commented on #153
In Netrunner 1901.
Something like this:

_/usr/share/applications/ocs-dummy.desktop_

Name=ocs-url
Exec=true
Type=Application
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/ocs;x-scheme-handler/ocss;

[2019-01-05 06:13] star-buck commented on #153
Thanks Chinmoy, will try out in 1901.

Since it doesnt seem to fail in Ubuntu 18.04 Gnome, the question is if this
would have to be done in any KDE Plasma distro with kio and no ocsurl, or
if Akira can do something like this within the Appimage to solve it
pre-emptively?

[2019-01-05 13:03] ScarlettGatelyMoore commented on #68
According to the original bug https://github.com/blue-systems/netrunner-releases/issues/31
A cpack was generated with the last release by @shadeslayer
This is another case where debian is a blocker in timely uploads. appimagelauncher depends on libappimage which depends on squashfuse ( been packaged since October but stuck in debian review process ) To be fair they are a community of volunteers!
I

[2019-01-05 18:57] star-buck opened #156 "remove kamoso, install cheese"
Kamoso freezes when opening the FX drawer, burst does never stop, weird artifact in upper right corner, buttons change positions unpatched, record=video, shoot=photo (but one could shoot a video?)

Tldr; for now back to cheese.

[2019-01-05 18:59] star-buck opened #157 "systray: add spectacle right next to yakuake"
The benefit is entering into a mode directly via rightclick

[2019-01-05 19:00] star-buck opened #158 "get rid if one pixel dead left space by disabling touch screen: left edge: no action"
![screenshot_20190105_205357](https://user-images.githubusercontent.com/840070/50728564-26480c80-112c-11e9-8ac3-a3f3062d8f33.png)

[2019-01-05 19:21] star-buck commented on #68
Can we produce (or do we already have produced) all 3 packages as debs that work with current RC3 snapshot, so they can be manually installed and tested and then eventually be shipped default?

Links please.

[2019-01-05 19:55] star-buck commented on #158
![screenshot_20190105_205357](https://user-images.githubusercontent.com/840070/50728564-26480c80-112c-11e9-8ac3-a3f3062d8f33.png)

[2019-01-05 19:59] star-buck commented on #157
![screenshot_20190105_205919](https://user-images.githubusercontent.com/840070/50728601-caca4e80-112c-11e9-955a-60a17af7a569.png)

[2019-01-05 20:51] TheAssassin commented on #68
Is this the "current RC3"? http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20181230.1710-amd64.hybrid.iso

[2019-01-05 20:53] llelectronics commented on #68
Yes

[2019-01-06 14:53] ScarlettGatelyMoore commented on #68
With some great teamwork with @TheAssassin, I have debs for all 3, however I am going to test them first, in the rc3 linked above, so as to not waste anyone's time. Once I am happy, I will upload them to umm transfer.sh I guess, I do not have any cloud space.

[2019-01-06 16:08] star-buck commented on #68
Sounds great, let us know if they do work.

[2019-01-06 17:01] chinmoyrp commented on #153
IMO unless users have ocs-store installed this shouldn't be used.

I have been trying to make this 'hack' work from within the appimage but so far I have had no success. So I can't say for sure.

[2019-01-06 17:26] ScarlettGatelyMoore commented on #68
Ok so tested on RC3 and my debian teesting box it works. There is one popup error box
Failed to register AppImage in AppImageLauncherFS: could not open map file
Which @TheAssassin is aware of. It does not seem to impact the functionality though.

These must be installed in order:
libsquashfuse:
https://cloud.assassinate-you.net/s/43by7DMDpZnnNKm
squashfuse:
https://cloud.assassinate-you.net/s/43by

[2019-01-06 17:29] TheAssassin commented on #68
squashfuse shouldn't be needed.

[2019-01-06 18:25] star-buck commented on #68
If that error comes up every time an appimage is doubleclicked, I cant ship
it, as it looks erronous to anyone even if it works.
On Jan 6, 2019 18:26, "Scarlett Gately Moore ( Clark )" <
notifications@github.com> wrote:

[2019-01-06 18:41] TheAssassin commented on #68
@star-buck it's just the first-ever run that is affected. I need to be able to reproduce the issue first before testing a fix, though. I'm quite confident it will be fixed tonight.

[2019-01-06 19:01] star-buck commented on #68
First ever run of every appimage to be installed is what i meant? Or only
one time ever and since its preinstalled the user will never see it again
when installing appimages?
On Jan 6, 2019 19:41, "TheAssassin" <notifications@github.com> wrote:

[2019-01-06 19:03] TheAssassin commented on #68
The issue was that the AppImageLauncher file system needed a bit longer than expected to start up before said map file could be read. This is an issue once only, as AppImageLauncher starts the service and enables auto-restarting and also autostart on reboot for the specific user.

I've rewritten this section in the code, and it should be more robust now. Please give me a few minutes to test this o

[2019-01-06 19:23] TheAssassin commented on #68
Seems to work. Will test on a few more distros. If it works, I think we can release a 1.0.0 and call it a day.

[2019-01-06 22:32] ScarlettGatelyMoore commented on #68
Here is the deb for 1.0.0 release :)
https://cloud.assassinate-you.net/s/wYAibxzBWq3x37A

I have tested it in RC3 and all looks good!

[2019-01-07 10:48] star-buck commented on #144
need to test on RC4 again, as I got this popup after shutdown and starting skype again, but not sure if this was on RC3 as i tested on Rc2...:
![screenshot_20190107_114615](https://user-images.githubusercontent.com/840070/50764141-22260700-1272-11e9-9e07-aa5c4f348a2b.png)

[2019-01-07 11:15] adriaandegroot opened #159 "Kernel Panic on shutdown after installation"
After installing in VirtualBox 5.2.22 on a FreeBSD host, enabling *Restart now* at the end of Calamares install leads to a slow shutdown, and then eventually a kernel panic.

![screenshot_20190107_120934](https://user-images.githubusercontent.com/19431457/50765327-da08e380-1275-11e9-92b6-11376ce7eba5.png)

This is not reproducible by @llelectronics or @ScarlettGatelyClark , presumably a VBox-on-Fr

[2019-01-07 11:41] hsitter commented on #132
@jriddell ^

The proposed patch does solve the issue one presumes, the unit test is fishy though.

[2019-01-07 11:45] adriaandegroot commented on #141
Re-test on 2019-01-07, with Blackbird RC3 (netrunner-20181230.1710-amd64.hybrid.iso)

## Test case 1

Selected German  on first page, picked Berlin as location on the world map, and erased entire disk. After reboot, clicked Firefox icon on panel (lower-left). It started in German (like the rest of my desktop).

## Test case 2

Start Calamares. Click next, next, back, back, **then** pick *German* f

[2019-01-07 11:54] llelectronics commented on #62
RC4 ISO: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20190107.1230-amd64.hybrid.iso

[2019-01-07 12:53] adriaandegroot commented on #141
## Test case 3

Start Calamares. Click *next*, *back*, pick *German* from the drop down, *weiter*, leave the location set to *New York*. Notice that system language is German, dates are US. *Weiter*, etc, erase disk.

After reboot and login, desktop is in German, Firefox is English. Packages *firefox* and *netrunner-settings-firefox* are installed.

## Test case 4

Start Calamares. Click *next*, *

[2019-01-07 17:03] llelectronics commented on #62
RC5 ISO now available with hopefully the touchedge stuff really disabled now: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20190107.1745-amd64.hybrid.iso

[2019-01-07 20:46] star-buck commented on #159
shuts down fine here too on bare metal

[2019-01-07 20:46] #157 closed, assigned to shadeslayer, llelectronics

[2019-01-07 20:46] NuLogicSystems commented on #155
Fixed in rolling, but I think the same problem may exist in the netrunner-common/netrunner-settings-firefox.

[2019-01-07 20:48] #156 closed, assigned to llelectronics

[2019-01-07 20:48] star-buck opened #160 "Reminder: Re-install kamoso, remove cheese (reminder for later versions)"

[2019-01-07 20:49] #151 closed, assigned to llelectronics

[2019-01-07 20:51] #95 closed, assigned to shadeslayer, llelectronics

[2019-01-07 21:03] star-buck opened #161 "install ocs-url package (by making it available under own repo extras)"
program: https://www.opendesktop.org/p/1136805/
set FF association default:
![screenshot_20190107_220136](https://user-images.githubusercontent.com/840070/50793279-f5044380-12c7-11e9-86de-732ceac3c95d.png)

[2019-01-07 21:36] star-buck opened #162 "Reminder: set gwenview to zoom in/out with mousewheel when option is available"

[2019-01-08 09:07] star-buck commented on #161
that should also fix #153

[2019-01-08 10:03] star-buck commented on #117
further reduced storage.js that removed the stuff under "my rules":
https://www.dropbox.com/s/cvkctcw0rc2gwti/storage.js?dl=0

[2019-01-08 10:52] star-buck commented on #117
Comparing working 1803 and 1901:

1803:
- FF Quantum 58 with cck2 and Plasmazilla
- ublock 1.15.10 via skel, which updates itself to 1.17.4 automatically without breaking
- no ff-integration addon

[2019-01-08 14:20] llelectronics commented on #62
RC6 ISO: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20190108.1400-amd64.hybrid.iso

[2019-01-08 16:50] llelectronics commented on #62
RC7: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20190108.1730-amd64.hybrid.iso

[2019-01-08 21:07] star-buck commented on #161
the package is installed and works!
Now can we do also the second part, that is having the mimetype already associated with ocs default (like we did by  open qapt instead of ark for deb packages)?

[2019-01-08 21:08] #161 closed, assigned to shadeslayer, llelectronics, NuLogicSystems

[2019-01-08 21:09] star-buck opened #163 "FF: associate firefox ocs:// to ocs-url program"
![screenshot_20190107_220136](https://user-images.githubusercontent.com/840070/50793279-f5044380-12c7-11e9-86de-732ceac3c95d.png)

[2019-01-08 21:09] llelectronics commented on #161
The ocs:// mimetype is associated already with it by default.

[2019-01-08 21:36] star-buck commented on #117
RC7 still not fixed.

But following Zlatans advice, installing webext-ublock-origin package, then removing the own xpi shipped under /usr/share/firefox/... did come up fine 3 times in a row!
Having high hopes this one fixes it.

@llelectronics : remove shipped xpi+folders etc. +add webext-ublock-origin package from debian snapshot repo.

[2019-01-08 21:37] star-buck commented on #158
fixed

[2019-01-08 21:37] #158 closed, assigned to shadeslayer, llelectronics

[2019-01-08 21:38] star-buck opened #164 "FF: Bookmark Toolbar: add "KDE Store" with url: https://store.kde.org next to Forums bookmark"

[2019-01-08 21:55] NuLogicSystems commented on #117
The ublock_origin-1.17.4-an+fx.xpi I ship in the netrunner-rolling package is the webext verson from the Mozilla plugin store. I don't know what uBlock0@raymondhill.net.xpi is created from that ships in the netrunner-common version of this package.

[2019-01-08 21:56] star-buck commented on #68
I installed all 3 packages, clicked on the odio appimage and got this instead of the AIL dialog:
![screenshot_20190108_225040](https://user-images.githubusercontent.com/840070/50861126-0f0d5700-1398-11e9-9740-099dbf379978.png)

I clicked NO, then closed the program again.

Right-click on the appimage gave me this dialog:
![screenshot_20190108_225259](https://user-images.githubusercontent.com/84007

[2019-01-08 22:20] star-buck commented on #161
I mean the firefox filetype or whatever its called, so it doesnt ask to
search for a program anymore.

[2019-01-08 22:22] star-buck commented on #117
As long as it works in rolling, its fine. We will see that in next iso.

[2019-01-08 22:37] TheAssassin commented on #68
MIME type integration seems to work, binfmt_misc however seems broken. Can you please `ls /proc/sys/fs/binfmt_misc/` and check for two files `appimage-type{1,2}`?

Is this a fresh install, a live VM (as @ScarlettGatelyClark and I used) or an upgraded existing system?

[2019-01-09 11:05] llelectronics commented on #155
Thx also applied for netrunner-common/netrunner-settings-firefox

[2019-01-09 11:14] llelectronics commented on #117
@NuLogicSystems we started from this xpi (just renamed) in the first place. The webext package of debian now does not ship a xpi but the extension extracted already. Maybe it really is able to fix stuff. Just added it as recommends and removed the xpi from netrunner-settings-firefox.

[2019-01-09 11:15] llelectronics commented on #164
Added here: https://github.com/netrunner-common/netrunner-settings-firefox/commit/2cfcdfa9826b2d944de82d9ce0c71e8abb70c04e

[2019-01-09 11:16] llelectronics commented on #163
Done: https://github.com/netrunner-common/netrunner-settings-firefox/commit/231ee4aa259c115d07f00e3f78a0d228ac98009d

[2019-01-09 12:17] adriaandegroot commented on #141
This was filed upstream in Calamares as https://github.com/calamares/calamares/issues/1064 and is fixed in the new Calamares release 3.2.3 (which I'm releasing in a few minutes). This will remain broken until Debian updates Calamares, though.

[2019-01-09 12:33] llelectronics commented on #62
RC8: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20190109.1310-amd64.hybrid.iso

[2019-01-09 14:30] NuLogicSystems commented on #117
@llelectronics Could also have been the fact that the xpi file was in the /distribution/extensions directory, in which Firefox installs every extension in this folder automatically (legacy), but also referenced and/or installed via the policies.json file. Just a thought. The webext-ublock-origin package uses some really strange directories, not sure it will be user removable via Filefox itself, bu

[2019-01-10 00:18] #164 closed, assigned to llelectronics

[2019-01-10 00:18] #163 closed, assigned to shadeslayer, llelectronics

[2019-01-10 00:20] star-buck commented on #117
seems to have finally solved the issue.
@llelectronics : are both older methods mentioned by @NuLogicSystems now removed from new RC8 ISO?

[2019-01-10 08:57] llelectronics commented on #117
Yes I removed them.

[2019-01-10 14:18] llelectronics commented on #62
RC9 with new sources.list: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20190110.1333-amd64.hybrid.iso

[2019-01-10 15:28] star-buck opened #165 "Startup: First time cursor appears is Breeze Dark which changes after a few seconds to whiteclassica"
minor issue though still would be nice to fix

[2019-01-10 15:29] star-buck opened #166 "shutdown: after updating installed RC8 via apt get to RC9 and shutting down, systemd doesnt shutdown properly due to UID 1000 user..."

[2019-01-10 15:30] star-buck commented on #166
i just think it could be a possibility that any time a real update happened as sudo, this happens for some reason.

[2019-01-10 15:55] star-buck opened #167 "Discover: mouse hover over sorting entries dropdown makes them vanish"
before:
![screenshot_20190110_164829](https://user-images.githubusercontent.com/840070/50980209-74785980-14f8-11e9-8f29-7a5847da9ebb.png)

after hovering over them with cursor:
![screenshot_20190110_164819](https://user-images.githubusercontent.com/840070/50980220-7d692b00-14f8-11e9-895b-d57c7b8876ce.png)

theme is breeze black, but i assume its for breeze also.

[2019-01-10 18:14] davidedmundson commented on #150
I've fixed it so that having a shortcut to "New Share" will pre-select the "New Share" entry.
Netrunner will need to change their shortcut .desktop file to say "Exec=kcmshell5 sambamount --args --new"  instead of their current Exec line.

I've also fixed a hypothetical case where we maybe wouldn't mount a network drive, but I can't say if it'll make an impact on whatever the case here is.

[2019-01-11 16:28] star-buck opened #168 "DCI: Reminder: stop hacks like these"
[code]

[2019-01-11 16:42] shadeslayer commented on #168
A more proper workflow would have been to poke the debian maintainer, fork the source and rebuild on DCI while we wait for a fix.

If DCI is broken, then it should be fixed for package building instead of doing random wget's and apt installs.

[2019-01-11 17:19] shadeslayer commented on #168
As expected, this code is now broken because the debs are gone :
[code]

[2019-01-11 17:20] shadeslayer commented on #168
I noticed yet another workaround https://github.com/netrunner-desktop/live-build/blob/master/customization/hooks/live/04-workaround-cala-libpythonqt.hook.chroot

Again, I would like a explanation why the package wasn't rebuilt through DCI?

[2019-01-12 11:08] llelectronics commented on #62
Next ISO: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/next/amd64/netrunner-desktop/netrunner-20190112.0958-amd64.hybrid.iso

[2019-01-12 22:35] star-buck opened #169 "FF: Bookmarks cannot be deleted, or they will re-appear after every new start"
this looks like a hacky way to force bookmarks that forces it over any user edit...

[2019-01-12 22:37] star-buck commented on #65
guess what? it is back again, just like that by simply installing latest RC...:
![screenshot_20190112_233718](https://user-images.githubusercontent.com/840070/51079187-0469ff00-16c3-11e9-97e6-3add21f0562b.png)

[2019-01-12 22:38] star-buck commented on #65
@notuxius : Are you still interested in any way to help with QA, please respond here, thanks.

[2019-01-13 17:29] NuLogicSystems commented on #169
Fixed with this commit:
https://github.com/netrunner-rolling/netrunner-settings-firefox/commit/69a557ef2499420a767d0556ba92af0cac8e0309

[2019-01-13 19:55] star-buck commented on #169
If we update our package, can anyone benefit from this without loosing
bookmarks?
On Jan 13, 2019 18:29, "James Kittsmiller" <notifications@github.com> wrote:

[2019-01-13 19:56] star-buck commented on #169
We also have to be careful not to update to live S3 from dci now that RC is
out.
On Jan 13, 2019 20:55, "Clemens Toennies" <starbuck@netrunner-os.com> wrote:

[2019-01-13 21:27] NuLogicSystems commented on #169
Changing from using the policies.json to using a distribution.ini for setting default bookmarks shouldn't delete anyone's existing bookmarks.

Note: I did have to rework this for Rolling to use alpm hooks instead since we can't ship the distribution.ini file directly without getting an "exists in file system error".

[2019-01-13 21:37] #117 closed, assigned to shadeslayer, llelectronics

[2019-01-13 22:43] star-buck commented on #169
So besides Bookmarks, what else would be affected right now?
Anything other affect that would happen without a rework on current RC that
I could test?
On Jan 13, 2019 22:27, "James Kittsmiller" <notifications@github.com> wrote:

[2019-01-14 01:09] NuLogicSystems commented on #169
Nothing that I can think of.
I've already tested changing the homepage, disabling the menu bar and the bookmarks toolbar. These settings were not permanent, they did not get set back on new launch.

Here are the policies available and what they do:
https://github.com/mozilla/policy-templates/blob/master/README.md

Anything of these that says default the user can change, enable, or disable and it w

[2019-01-14 01:23] NuLogicSystems commented on #169
After looking through here:
https://github.com/mozilla/policy-templates/releases

The policy for bookmarks got an update at the v1.2 release (Policy templates for Firefox 62 and 60.2)

This must have been requested.

[2019-01-14 10:51] star-buck opened #170 "check why we have 2.9GB on ISO?"
what eactly makes this ISO so big?
https://youtu.be/8H0pWP0b6Ek?t=345

[2019-01-14 12:16] llelectronics commented on #170
The difference between RC9 and RC10 is mainly caused by the dep-11/appstream data saved in /var/lib/apt/lists
There is also a slight difference in terms of package sizes that alltogether adds up to the slightly bigger ISO for RC10.

See packagelists:
RC9
[rc9_list_packages.txt](https://github.com/blue-systems/netrunner-releases/files/2755054/rc9_list_packages.txt)
RC10
[rc10_list_packages.txt](htt

[2019-01-22 03:40] NuLogicSystems commented on #65
Every time smplayer gets updated the toolbars_state= line in the smplayer.ini file will need to be changed to hide this toolbar again, there is no other way to hide this toolbar. The smplayer developers seem to have no desire to add a permanent way to hide this toolbar between updates. They recommended using one of the other gui's (mini, or mpc) if avoiding the main toolbar is desired.

[2019-01-22 08:04] star-buck commented on #65
Its a clear bug and also affecting their own users who like the toolbar
hidden. Why allow it as option if they disregard their own settings? Thats
like we offer single or doubleclick and reset to singleclick regardless
what the user chooses.

Lets see if we can patch or fork this and keep it hidden.
On Jan 22, 2019 04:40, "James Kittsmiller" <notifications@github.com> wrote:

[2019-01-22 09:48] hsitter commented on #132
Fix landed upstream

[2019-01-22 09:50] hsitter commented on #132
Fix landed upstream, going out with the 5.55 release of frameworks.

[2019-01-29 09:12] star-buck opened #171 "ship pulseaudio-module-bluetooth"

[2019-01-29 10:46] llelectronics commented on #171
Commited now for Netrunner Desktop: https://github.com/netrunner-desktop/netrunner-desktop/commit/22a893622c196eb0d3c15777510a30d368938cba

As for including ARM version. I am not even sure all of those boards (rock64 & odroid) have Bluetooth. So it would not make sense adding it here.

[2019-01-29 20:07] notuxius opened #172 "Netrunner distribution isn't searchable when selecting arm64 architecture on Distrowatch"
Search page: https://distrowatch.com/search.php
Selecting armhf architecture works, looks like they renamed aarch64 into arm64

[2019-01-29 20:09] llelectronics commented on #172
This is an issue of distrowatch I would say. Not sure how we should deal with it.

[2019-01-29 20:12] notuxius commented on #172
Can we change Netrunner architecture from aarch64 to arm64 on Distrowatch?

[2019-01-29 20:14] llelectronics commented on #172
aarch64 is arm64 not sure what distrowatch does there. Of course we can always contact distrowatch and ask kindly.

[2019-01-29 20:28] star-buck commented on #172
Its nothing we ever entered ourselves there.
You can superfriendly ask or forget it.

[2019-01-29 20:31] notuxius commented on #172
Wrote to Distrowatch

[2019-01-29 21:29] notuxius commented on #172
Done, also fixed KDE neon arm search

[2019-01-29 21:29] #172 closed, assigned to nobody

[2019-01-29 21:41] notuxius opened #173 "Netrunner 18.03 ARM64 IMG doesn't boot from SD card on Pinebook"
Only black screen is shown

[2019-01-29 22:02] star-buck commented on #173
What kind of pinebook do you have?

[2019-01-29 22:03] star-buck commented on #173
Did you extract the img?
It could be anything, from the sdcard to the wrong tool you burned this.

[2019-01-29 22:07] notuxius commented on #173
Extracted the image, Pinebook 11.6″ IPS 1080p 2gigs or RAM, tried with Gnome Disks and dd utility, also tested Manjaro ARM with these utilities and it's launched on the Pinebook

[2019-01-30 08:31] star-buck commented on #173
Its a different pinebook, simple as that. Please close this ticket.
On Jan 29, 2019 23:07, "Alexander Mentyu" <notifications@github.com> wrote:

[2019-02-09 12:18] star-buck opened #174 "spectacle: UNTICK include mouse cursor"
at least in new core versions this is still ticked, not sure if we unticked it in the past for desktop already?

[2019-02-12 18:01] star-buck opened #175 "startx on hyperv"
https://support.blue-systems.com/t/installing-netrunner-core-1901-64bit-in-hyper-v/4626

[2019-02-12 18:01] #173 closed, assigned to nobody

[2019-02-24 14:36] star-buck opened #176 "WebExtension: if updating to ublock 1.18.4, FF Quantum 64 freezes upon startup"
If that webextension ublock is updated, we need to eventually take care of this.

[2019-02-24 14:36] star-buck commented on #176
![screenshot_20190224_153413](https://user-images.githubusercontent.com/840070/53300595-ed820500-3849-11e9-95d3-36997b7aaf44.png)

[2019-02-24 14:43] star-buck commented on #176
not sure if this happened only on this machine, which had an RC version, but after the update the filter list were gone again, which may cause the trouble:
![screenshot_20190224_154007](https://user-images.githubusercontent.com/840070/53300671-dee81d80-384a-11e9-8b2f-4d5dd903a414.png)

this is how it looks like from synaptic:
![screenshot_20190224_154149](https://user-images.githubusercontent.com/

[2019-02-24 14:44] star-buck commented on #176
@llelectronics : best is to test if that happens on any other machine as well, when installing only this package manually.

[2019-03-03 12:10] star-buck opened #177 "Unattended Upgrades: DISABLE on all netrunner versions"
sudo dpkg-reconfigure -plow unattended-upgrades

![snap 2019-03-03 at 13 07 28](https://user-images.githubusercontent.com/840070/53694968-ae0d6880-3db5-11e9-82e7-cb657c07b30a.png)

[2019-03-16 10:58] llelectronics commented on #176
All tests indicate that it is working without issues. Therefor marking it as ready on Debian ISO

[2019-03-16 11:03] llelectronics commented on #177
Fixed in the latest C1, Z1 and Z2 images.

[2019-03-27 19:27] star-buck opened #178 "all versions: install net-tools again!"
I dont know why it is no longer on netrunner desktop, but it was and should be again on all netrunner versions, z1, core whatever

[2019-03-30 12:48] star-buck commented on #174
also rolling

[2019-03-30 12:52] star-buck commented on #31
@NuLogicSystems : do we ship this in rolling?

[2019-03-30 12:55] star-buck opened #179 "file-dialog: TICK Show Aside Preview"
not sure if this is in all debian versions, but rolling its not

[2019-03-30 12:57] star-buck commented on #179
![Screenshot_20190330_125725](https://user-images.githubusercontent.com/840070/55276415-619d4600-52eb-11e9-931b-aa846b87edd0.png)

[2019-03-30 13:04] star-buck opened #180 "Kvantum: change some settings of KvantumAlt and save as KvantumNetBlack"
- UNTICK Transparent Dolphin View

[2019-03-30 13:15] star-buck opened #181 "Dolphin: toolbar: move "Split" at the end"
![Screenshot_20190330_141409](https://user-images.githubusercontent.com/840070/55276629-d2456200-52ed-11e9-85fe-159c67a90eac.png)

[2019-03-30 13:16] star-buck commented on #181
move it from current position (before "find") to the end after Terminal

[2019-03-30 13:38] star-buck commented on #180
lets take KvantumAlt and make a new KvantumNetBlack theme from it with the following modified settings from it:
![Screenshot_20190330_141950](https://user-images.githubusercontent.com/840070/55276881-7385e580-52f9-11e9-87d7-6fc9b64746dd.png)
![Screenshot_20190330_141934](https://user-images.githubusercontent.com/840070/55276882-75e83f80-52f9-11e9-8bfa-bdfd91e61d5c.png)
![Screenshot_20190330_141926

[2019-03-30 14:00] star-buck commented on #59
needs to be added to Rolling

[2019-03-30 14:01] star-buck commented on #72
reopened for Rolling

[2019-03-30 14:02] star-buck commented on #70
reopened for Rolling as info

[2019-03-30 16:48] star-buck opened #182 "Rolling: increase Taskbar height to 55 pixels"

[2019-03-31 14:44] llelectronics commented on #180
I fail to see a difference to the settings we ship already. We have the same settings already checked in 19.01. I checked the screenshots of the configuration now twice and all the boxes are the same and even the spinwheels and dropbox options are the same.

[2019-03-31 16:13] star-buck commented on #180
Yes, for Debian that is true.
But for Manjaro/default KvantumAlt it is different, hence saving a modified
KvantumAlt to KvantumNetBlack could be easily shared.

[2019-03-31 19:55] star-buck commented on #180
now exactly that happened... :/ i updated netrunner debian via enabling testing and all the marks who were set got fully reset.
So we need this for both versions, Debian and Rolling.

[2019-03-31 20:28] llelectronics commented on #180
I checked it. We never configured KvantumAlt before just used the 0.10.8 version as it shipped with the configuration we liked.
The new version 0.10.9 changes the defaults of KvantumAlt. So yeah we need to ship our own kvconfig file so upstream cannot overwrite it with new defaults for future Netrunner releases.

[2019-04-01 17:19] NuLogicSystems commented on #179
Commit fixes this issue with most applications.
Some applications like Falkon, and Octopi do not allow this setting to be used (grayed out).

[2019-04-01 18:21] NuLogicSystems commented on #72
I packaged this, installed the package, and they show up under lost and found.
![Screenshot_20190401_142208](https://user-images.githubusercontent.com/10186587/55350260-a7901080-5489-11e9-967b-9cc445a3aa27.png)

[2019-04-01 18:34] llelectronics commented on #72
You need to install each desktop file into the new category. See this postinst we use on Netrunner (Debian) https://github.com/dci-extras-packaging/web-menu-entries/blob/master/debian/postinst

[2019-04-01 19:27] star-buck commented on #72
Just trying this, there might be an easier, more integrated way that
Manjaro ships lately called JAK, Jade Application Framework. Will test in
on Rolling, if it works great there, we could look into shipping it on
Debian.

[2019-04-01 20:21] NuLogicSystems commented on #72
@llelectronics,
Duh, fixed it.

@star-buck,
Do you mean the jade application kit?
https://github.com/codesardine/Jade-Application-Kit

[2019-04-01 20:43] star-buck commented on #72
Yes, that one.

[2019-04-02 00:46] star-buck opened #183 "Calamares: ship with Scrollbar enabled"

[2019-04-02 14:01] NuLogicSystems commented on #31
It's "maintained" upstream Manjaro by philm, but yes, it's shipped on the ISO.

[2019-04-03 00:51] NuLogicSystems commented on #182
This line in the theme packages defaultpanel layout.js file, is overriding anything preset in the diversions plasmashellrc file: panel.height = screenGeometry(panel.screen).height > 1024 ? 38 : 27

When the theme is applied, it creates a new panel using this setting, effectively setting the new panel to 27. Can we have shadeslayer or leszek take a look at it?

[2019-04-03 01:08] NuLogicSystems commented on #183
Is this a setting that can be changed, or does this require compiling calamares?

Manjaro compiles and ships Calamares, I currently only package our netrunner branding files. All other settings are handled by the Manjaro packages directly, or for some settings, changed via Manjaro tools internals.

[2019-04-03 08:35] adriaandegroot commented on #183
This is likely a reaction to https://github.com/blue-systems/plasma-5.15/issues/170 : Calamares reaches the summary-page, and since the summary is "tall", the window grows to accomodate it.

In Calamares 3.2.4 (available in KDE neon, I don't know about elsewhere) the `branding.desc` file (of whatever branding you're using) has new settings that control window (re)size behavior. See https://github.

[2019-04-03 09:31] llelectronics commented on #182
Not sure how Rolling sets the stuff up for the desktop. On Debian we use LNF packages which set the Plasma theme and configuration settings.
So we have something like this https://github.com/netrunner-artwork/artwork-lnf-theme-netrunner-desktop/blob/master/usr/share/plasma/look-and-feel/org.kde.netrunner-desktop.desktop/contents/layouts/org.kde.plasma.desktop.defaultPanel/contents/layout.js#L28
in

[2019-04-03 09:38] llelectronics commented on #178
It was a dependency before in Debian and pulled in by other packages. This is no longer the case. Therefor we need to add it to our meta package

[2019-04-03 09:42] star-buck commented on #182
Sounds good to use the Netrunner Black LNF and adjust as Netrunner Rolling
Black LNF or so... Although ultimately it should just differ for wallpaper
:)
On Apr 3, 2019 11:31, "Leszek Lesner" <notifications@github.com> wrote:

[2019-04-03 09:47] llelectronics commented on #182
For the future if Rolling changes more of the artwork(icons, plasma, widget, colors) it makes sense to ship its own LNF theme imho.

[2019-04-03 12:16] NuLogicSystems commented on #182
If this is the case, then why do we ship a plasmashellrc file in the default-settings-plasma package in the first place?
I already do ship my own LNF themes, that is not the issue. The issue is that I do not understand that line, so I do not know what needs to be changed.

[2019-04-03 12:22] llelectronics commented on #182
Ah I see. Yeah this is a left over from an older release where we did not use the LNF for setting the height.
It needs cleanup. Sorry for the confusion. Though it might be used by non LNF themes.

[2019-04-03 12:25] star-buck commented on #183
manjaro uses it also default

[2019-04-03 12:25] star-buck commented on #183
@NuLogicSystems : please ship in next beta3

[2019-04-03 12:32] NuLogicSystems commented on #182
Thanks for the explanation, but I still do not know what to change this lines numbers to?
Should I just make them both 55?
Do I need to change the 1024 to something higher?

[2019-04-03 12:38] llelectronics commented on #182
Leave the plasmashellrc as is and only set the 55 in the LNF for resolutions higher than 1024. I don't think it looks great on smaller screens.

[2019-04-03 12:52] NuLogicSystems commented on #182
So I just change the last number then: 27 - 55?
The reason I ask is, I've noticed that the first number seems to only change the 1024 size.
It still changes the plasmashellrc file in the home directory to the following for all other resolutions:
[code]

[2019-04-03 13:02] llelectronics commented on #182
Ah sorry. Its checking for height greater than 1024 not width.
So change the first (the bigger number) in the LNF I would say.

[2019-04-03 13:08] NuLogicSystems commented on #182
But wouldn't that still set 1366x720 to 27?
so would I be better off with 55 : 38?

[2019-04-03 13:15] llelectronics commented on #182
Yeah. Exactly.

Maybe. Needs testing I think to get it looking good or the same with the different resolutions.

[2019-04-03 13:21] NuLogicSystems commented on #182
Or the subsystem need to be changed to work with the newer standard (widthxhight).
I mean, when was the last time you saw any non-widescreen monitors/televisions (hightxwidth)?
That is besides in a pawn shop, or antique store, etc.

[2019-04-03 13:27] NuLogicSystems commented on #182
OK, 45 looks better (about the same) at 1366x720 as 55 at 1920x1024.

I  think 55:45 should take care of most current common screen resolutions on the market today.
I'm testing this out now.

[2019-04-03 13:43] NuLogicSystems commented on #182
Actually. I probably should ask this first.
@star-buck
What resolution was your monitor when you decided on 55 pixels?

[2019-04-05 22:29] star-buck opened #184 "Rolling: doesnt shutdown completely (power button light stays on, fan still running)"

[2019-04-08 15:10] NuLogicSystems commented on #184
Is your system still freezing after updating systemd to the latest RC in testing?

[2019-04-08 18:17] star-buck commented on #184
Cant say, as i already "overinstalled" last install. :)

[2019-04-09 10:32] star-buck opened #185 "file dialog: explicitely set View to "Short View" (since tree view apparently is new default)"
![Screenshot_20190409_122806](https://user-images.githubusercontent.com/840070/55793661-c3b43300-5ac3-11e9-91a4-801d024dd240.png)